In [1]:
import pandas as pd
import numpy as np
import datetime 
import os
import calendar
import time

In [2]:
folder = ['./data/han/자동', './data/han/수질측정망', 'data/han/총량측정망', './data/han/유량',
          './data/han/수위'] #, './data/han/AWS','./data/han/방사성']

file_names =[
    
    [ #자동
        ['가평_2016.xlsx', '가평_2017.xlsx','가평_2018.xlsx', '가평_2019.xlsx' ], 
        ['의암호_2016.xlsx', '의암호_2017.xlsx', '의암호_2018.xlsx', '의암호_2019.xlsx'],
        ['서상_2016.xlsx', '서상_2017.xlsx', '서상_2018.xlsx', '서상_2019.xlsx']
    ],
    [ #수질
        ['가평천3_2016.xlsx', '가평천3_2017.xlsx','가평천3_2018.xlsx', '가평천3_2019.xlsx'], 
        ['남이섬_2016.xlsx', '남이섬_2017.xlsx', '남이섬_2018.xlsx', '남이섬_2019.xlsx'],
        ['대성리_2016.xlsx', '대성리_2017.xlsx', '대성리_2018.xlsx', '대성리_2019.xlsx']
        
    ],
    [ #총량
        ['가평천3_2016.xlsx', '가평천3_2017.xlsx','가평천3_2018.xlsx', '가평천3_2019.xlsx'],
        ['조종천3_2016.xlsx', '조종천3_2017.xlsx','조종천3_2018.xlsx', '조종천3_2019.xlsx'], 
        ['청평_2016.xlsx', '청평_2017.xlsx','청평_2018.xlsx', '청평_2019.xlsx'],
        ['춘성교_2016.xlsx', '춘성교_2017.xlsx','춘성교_2018.xlsx', '춘성교_2019.xlsx'],
        ['춘천A_2016.xlsx', '춘천A_2017.xlsx','춘천A_2018.xlsx', '춘천A_2019.xlsx'],
        ['화천_2016.xlsx', '화천_2017.xlsx','화천_2018.xlsx', '화천_2019.xlsx']
        
    ],
    [ #유량
        ['가평군(가평교)_2016.xlsx','가평군(가평교)_2017.xlsx','가평군(가평교)_2018.xlsx','가평군(가평교)_2019.xlsx'],
        ['가평군(대성리)_2016.xlsx','가평군(대성리)_2017.xlsx','가평군(대성리)_2018.xlsx','가평군(대성리)_2019.xlsx'],
        ['가평군(청평교)_2016.xlsx','가평군(청평교)_2017.xlsx','가평군(청평교)_2018.xlsx','가평군(청평교)_2019.xlsx'],
        ['춘천시(강촌교)_2016.xlsx','춘천시(강촌교)_2017.xlsx','춘천시(강촌교)_2018.xlsx','춘천시(강촌교)_2019.xlsx']
    ],
    [ #수위
        ['가평군(가평교)_2016.xlsx','가평군(가평교)_2017.xlsx','가평군(가평교)_2018.xlsx','가평군(가평교)_2019.xlsx'],
        ['가평군(대성리)_2016.xlsx','가평군(대성리)_2017.xlsx','가평군(대성리)_2018.xlsx','가평군(대성리)_2019.xlsx'],
        ['가평군(청평교)_2016.xlsx','가평군(청평교)_2017.xlsx','가평군(청평교)_2018.xlsx','가평군(청평교)_2019.xlsx'],
        ['가평군(청평댐)_2016.xlsx','가평군(청평댐)_2017.xlsx','가평군(청평댐)_2018.xlsx','가평군(청평댐)_2019.xlsx'],
        ['춘천시(강촌교)_2016.xlsx','춘천시(강촌교)_2017.xlsx','춘천시(강촌교)_2018.xlsx','춘천시(강촌교)_2019.xlsx'],
        ['춘천시(소양2교)_2016.xlsx','춘천시(소양2교)_2017.xlsx','춘천시(소양2교)_2018.xlsx','춘천시(소양2교)_2019.xlsx'],
        ['춘천시(춘천댐)_2016.xlsx','춘천시(춘천댐)_2017.xlsx','춘천시(춘천댐)_2018.xlsx','춘천시(춘천댐)_2019.xlsx'],
        ['화천군(화천대교)_2016.xlsx','화천군(화천대교)_2017.xlsx','화천군(화천대교)_2018.xlsx','화천군(화천대교)_2019.xlsx']
        
    ]
#     [ #AWS
# #         ['남이섬_2016.xlsx', '남이섬_2016.xlsx', '남이섬_2016.xlsx', '남이섬_2016.xlsx',],
# #         ['청평_2016.xlsx', '청평_2017.xlsx','청평_2018.xlsx', '청평_2019.xlsx'],
#         ['춘천_2016.xlsx', '춘천_2017.xlsx','춘천_2018.xlsx', '춘천_2019.xlsx']        
#     ],
#     [ #방사성
#        ['의암댐_2016.xlsx', '의암댐_2017.xlsx', '의암댐_2018.xlsx', '의암댐_2019.xlsx'] 
#     ]
]

**parameters for make**

In [3]:
# 각각의 강 마다, 측정소 별로 column을 맞춰야함
# 0:자동, 1:수질 , 2:총량, 3:유량, 4:수위,   방사성
han = [':,26:35',':,[28,29,30,31,32,33,34,35,36,37,39,41,42,43,44]', 
       ':,28:45', ':,26',  ':,26'] #,':,28:30']
nakdong = [':,0:', ':,2:12']
gum = [':,29:30'] #, ':,28:45', ':,26:29']
# gain_han = ['save/han/1', 'save/han/2', 'save/han/3']

':,26'

interpolation_option = [False, True, True, False, False]
# gain_save_path = gain_han[2]

iloc_val = han
iloc_val[1]
type(iloc_val[0])

str

In [33]:
45-28

17

**parameters for divide**

In [4]:
def make_timeseries(df):
#     print(interpolate)
#     print(df.shape)
    df = df.dropna(axis='rows', thresh=3)
    date_col = df.columns[0]
    df[date_col] = pd.to_datetime(df[date_col])
    df = df[df[date_col].notna()]

    year = pd.DatetimeIndex(df[date_col]).year.astype(np.int64)

    start = str(year[0]) + "-01-01 00:00"
#     start

    end = str(year[0]) + "-12-31 23:00"
#     end

    time_series = pd.date_range(start = start, end = end, freq='H')
    time_series
    time_series = pd.DataFrame(time_series)
    time_series.columns = [date_col]   
    time_series

    df = pd.concat([time_series, df], axis=0)
    df = df.drop_duplicates([date_col], keep="last")
    df = df.sort_values([date_col], axis=0)
    
#     if interpolate :
# #         print('interpolation')
#         df = df.interpolate(method='spline', order=2, limit_direction='both')
        
# #     print(df.shape)
    return df

In [5]:
def createDataFrame(folder, file_list, iloc_val= None, interpolate=False):
#     print(folder)
#     print(file_list)
#     print(interpolate)
    day = 24 * 60 * 60
    week = day * 7
    year = (365.2425) * day

    da = db = [[] for i in range(len(file_list))]
    for i in range(len(file_list)):
        for filename in file_list[i]:
            print(filename)
            path = os.path.join(folder, filename)
            df_tmp = pd.read_excel(path)
            
            df_tmp = make_timeseries(df_tmp)
            
            df_iloc = eval(f"df_tmp.iloc[{iloc_val}]")
            
            df_time = pd.DataFrame(df_tmp.iloc[:,0])  
            df_full_withtime = pd.concat([df_time, df_iloc], axis = 1)
            da[i].append(df_full_withtime)
            
#             if i == 0:
#                 df_time = pd.DataFrame(df_tmp.iloc[:,0])  
#                 df_full_withtime = pd.concat([df_time, df_iloc], axis = 1)
#                 da[i].append(df_full_withtime)
#             else :
#                 da[i].append(df_iloc)

        db[i] = pd.concat(da[i])
        db[i] = db[i].reset_index(drop=True)
        
        
        if interpolate :
            print('interpolation')
            for j in range(1, db[i].shape[1], 1):
                print('j')
                print(j)
                idx = db[i].iloc[:, j].dropna()
                print(idx)

                if idx.shape[0] != 0:
                    db[i].iloc[0, j] = idx.iloc[0]
                    db[i].iloc[-1, j] = idx.iloc[-1]
                
            db[i] = db[i].interpolate(method='polynomial', order=3, limit_direction='both')
        
#     print(df.shape)


    for i in range(1 , len(db)):
        db[i] = db[i].iloc[:,1:].rename(columns = lambda x: x + '_'+str(i))
      
    df = pd.concat(db, axis=1)

    date_time = pd.to_datetime(df.iloc[:, 0], format='%Y.%m.%d %H:%M',utc=True)
    timestamp_s = date_time.map(datetime.datetime.timestamp)
    df['Day sin'] = np.sin(timestamp_s * (2 * np.pi / day))
    df['Day cos'] = np.cos(timestamp_s * (2 * np.pi / day))
    # df['Week sin'] = np.sin(timestamp_s * (2 * np.pi / week))
    # df['Week cos'] = np.cos(timestamp_s * (2 * np.pi / week))
    df['Year sin'] = np.sin(timestamp_s * (2 * np.pi / year))
    df['Year cos'] = np.cos(timestamp_s * (2 * np.pi / year))
    
    return df

In [6]:
def divideDataFrame(df_ori, de_iloc_val= 0):
    df = df_ori
#     print(de_iloc_val)
#     print(type(de_iloc_val))
    df.set_index(df.columns[0], inplace=True)
#     print(df)
    
    df_d = []
    for i in range(4) :
#         print((i*de_iloc_val))
#         print((i*de_iloc_val)+de_iloc_val)
#         print('aaaaaaa')
        df_tmp = df.iloc[:, (i*de_iloc_val):(i*de_iloc_val)+de_iloc_val]
#         df_tmp.reset_index(inplace=True)
        df_d.append(df_tmp)
        
    return df_d

In [132]:
def make_timeseries_by_day(df):
    time_day = []
#     year = int(str(df.iloc[0,0]).split('-')[0])
    year = int(str(df.iloc[0,0])[0:4])
    print(year)
    
    if df.shape[0] == 1 :
        print('row in')
        ori_time = str(df.iloc[0,0])+ "-06-15 12:00"
        ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
        df.iloc[0,0] = ori_time
        
        return df
    
        
    div_cnt = df[df.columns[0]].value_counts().sort_index().tolist()
#     if div_cnt.shape[0] == 1 :
#         print('shape in')
#         div_cnt[0] = 1
#         div_cnt[1] = 1
            
    for i in range(len(div_cnt)):
#         print(i)
        month = calendar.monthrange(year,i+1)
        for j in range(div_cnt[i]):
    #         print(j)
    #         print(month)
            time_val = datetime.timedelta(days = (month[1]/div_cnt[i]*j)+1)
#             print('time_val' , time_val)
    #         time_day.append()
#             print(str(time.strftime('%H', time.gmtime(time_val.seconds))))
#             time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
            time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:00:00', time.gmtime(time_val.seconds))))
#             print('append')
            
#     df.iloc[:,0]= ftime
#     print(time_day)
#     print('end 1')
#     print(df.iloc[:,0])
    df.iloc[:,0] = df.iloc[:,0] + time_day
#     print('end 2')
    
    return df

**make**

In [ ]:
df_ori = []
for i in range(len(folder)):
    df_tmp = createDataFrame(folder[i], file_names[i], iloc_val[i], interpolation_option[i])
    if i == 0 :
        df_ori.append(df_tmp.iloc[:,:-4])
    else :
        df_ori.append(df_tmp.iloc[:,1:-4])

df = pd.concat(df_ori)
df

**divide**

In [ ]:
df = pd.read_excel('data/han.xlsx')

In [6]:
df

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,탁도3_값,...,flux_2,flux_3,wl,wl_1,wl_2,wl_3,wl_4,wl_5,wl_6,wl_7
0,2016-01-01 00:00:00,4.46667,7.50000,10.80000,126.00000,1.35833,2.39833,0.00600,5.74167,0.58333,...,NaN,NaN,-11.0,259.0,114.0,5069.0,-21.0,7119.0,10270.0,419.0
1,2016-01-01 01:00:00,4.30000,7.50000,10.80000,126.25000,1.35000,2.48958,0.00300,5.37500,0.51667,...,1.56,6.18,-13.0,259.0,114.0,5070.0,-20.0,7119.0,10270.0,419.0
2,2016-01-01 02:00:00,4.40833,7.50000,10.80000,126.08333,1.38333,2.54467,0.00300,5.37500,0.53333,...,1.56,3.80,-13.0,259.0,114.0,5070.0,-22.0,7119.0,10270.0,418.0
3,2016-01-01 03:00:00,4.41667,7.50000,10.80000,126.00000,1.40000,2.48175,0.00225,5.44167,0.56667,...,1.56,3.80,-13.0,259.0,114.0,5070.0,-22.0,7120.0,10270.0,419.0
4,2016-01-01 04:00:00,4.40000,7.50000,10.80000,126.00000,1.35833,2.45333,0.00258,5.44167,0.58333,...,1.56,3.57,-13.0,259.0,114.0,5070.0,-23.0,7120.0,10270.0,419.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2019-12-31 19:00:00,3.59167,7.09333,12.63000,115.00000,1.77667,1.71833,0.00225,22.65833,1.08833,...,NaN,NaN,-29.0,254.0,130.0,5027.0,64.0,7054.0,10260.0,414.0
35060,2019-12-31 20:00:00,3.52500,7.08583,12.61667,115.00000,1.73167,1.72625,0.00100,21.89167,1.08583,...,NaN,NaN,-29.0,268.0,130.0,5032.0,29.0,7057.0,10263.0,413.0
35061,2019-12-31 21:00:00,3.40000,7.06083,12.59250,115.00000,1.70500,1.73783,0.00200,21.26667,1.07417,...,NaN,NaN,-29.0,259.0,130.0,5035.0,13.0,7060.0,10263.0,417.0
35062,2019-12-31 22:00:00,3.41667,7.07417,12.58917,115.00000,1.65333,1.72342,0.00208,21.45000,1.05250,...,NaN,NaN,-29.0,260.0,130.0,5035.0,3.0,7062.0,10263.0,416.0
35063,2019-12-31 23:00:00,3.32500,7.05750,12.57167,115.00000,1.67500,1.70467,0.00233,20.85000,1.02917,...,NaN,NaN,-29.0,263.0,130.0,5036.0,-3.0,7064.0,10263.0,415.0

***divide by year***

In [64]:
han=df[df[df.columns[0]]>=datetime.datetime(2019, 1, 1)]
print(han)
han.to_excel('han.xlsx', index=False)

                     ymdh  tmpr_value  ph_value  do_value  ec_value  \
26304 2019-01-01 00:00:00     2.78333   6.81917  12.60000      97.0
26305 2019-01-01 01:00:00     2.75000   6.81000  12.59167      97.0
26306 2019-01-01 02:00:00     2.76667   6.81833  12.57500      97.0
26307 2019-01-01 03:00:00     2.70833   6.81667  12.57500      97.0
26308 2019-01-01 04:00:00     2.83333   6.81000  12.50000      97.0
...                   ...         ...       ...       ...       ...
35059 2019-12-31 19:00:00     3.59167   7.09333  12.63000     115.0
35060 2019-12-31 20:00:00     3.52500   7.08583  12.61667     115.0
35061 2019-12-31 21:00:00     3.40000   7.06083  12.59250     115.0
35062 2019-12-31 22:00:00     3.41667   7.07417  12.58917     115.0
35063 2019-12-31 23:00:00     3.32500   7.05750  12.57167     115.0

       toc_value    총질소_값     총인_값  클로로필-a_값    탁도3_값  ...  flux_2  flux_3  \
26304    1.39258  1.77117  0.00425   3.80000  0.48333  ...     NaN     NaN
26305    1.39242  1.81150  0.00450   4.05000  0.59167  ...     NaN     NaN
26306    1.38183  1.76500  0.00325   3.80000  0.44167  ...     NaN     NaN
26307    1.37742  1.77500  0.00483   3.91667  0.46667  ...     NaN     NaN
26308    1.39783  1.77375  0.00433   3.91667  0.49167  ...     NaN     NaN
...          ...      ...      ...       ...      ...  ...     ...     ...
35059    1.77667  1.71833  0.00225  22.65833  1.08833  ...     NaN     NaN
35060    1.73167  1.72625  0.00100  21.89167  1.08583  ...     NaN     NaN
35061    1.70500  1.73783  0.00200  21.26667  1.07417  ...     NaN     NaN
35062    1.65333  1.72342  0.00208  21.45000  1.05250  ...     NaN     NaN
35063    1.67500  1.70467  0.00233  20.85000  1.02917  ...     NaN     NaN

         wl   wl_1   wl_2    wl_3  wl_4    wl_5     wl_6   wl_7
26304 -26.0  255.0  151.0  5057.0   8.0  7097.0  10249.0  405.0
26305 -26.0  255.0  151.0  5059.0  -2.0  7099.0  10250.0  407.0
26306 -25.0  252.0  151.0  5059.0  -7.0  7100.0  10251.0  407.0
26307 -23.0  256.0  151.0  5059.0 -11.0  7100.0  10252.0  410.0
26308 -20.0  250.0  151.0  5059.0 -13.0  7101.0  10253.0  409.0
...     ...    ...    ...     ...   ...     ...      ...    ...
35059 -29.0  254.0  130.0  5027.0  64.0  7054.0  10260.0  414.0
35060 -29.0  268.0  130.0  5032.0  29.0  7057.0  10263.0  413.0
35061 -29.0  259.0  130.0  5035.0  13.0  7060.0  10263.0  417.0
35062 -29.0  260.0  130.0  5035.0   3.0  7062.0  10263.0  416.0
35063 -29.0  263.0  130.0  5036.0  -3.0  7064.0  10263.0  415.0

[8760 rows x 187 columns]

***divide by columns***

In [ ]:
de_iloc_val = ['9']
de_iloc_val[0]

In [ ]:
aa = divideDataFrame(df, int(de_iloc_val[0]))

**insert Month, Day, Time**

In [136]:
df1 = pd.read_excel('data/1_2017.xlsx')
df1

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [137]:
df = make_timeseries_by_day(df1)
df

2017
row in

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-06-15 12:00:00,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [37]:
time_day = []
year = int(str(df1.iloc[0,0]).split('-')[0])
print(year)

2017

In [39]:
df1.shape[0]

1

In [43]:
ori_time = str(df1.iloc[0,0])+ "-06-15 12:00"
ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
df1.iloc[0,0] = ori_time
df1

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-06-15 12:00:00,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [51]:
df1[df1.columns[0]].value_counts().shape

(1,)

In [56]:
str(df1.iloc[0,0]).split('-')

['2017']

In [97]:
div_cnt = df1[df1.columns[0]].value_counts().sort_index().tolist()
len(div_cnt)

1

In [4]:
ori_time = str(df.iloc[0,0])+ "-06-15 12:00"
ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
df.iloc[0,0] = ori_time
df

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-06-15 12:00:00,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [5]:
df = make_timeseries(df)
df

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8755,2017-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8756,2017-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,2017-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8758,2017-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,2017-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Insert multi days, times in one month***

In [133]:
df2 = pd.read_excel('data/chl.xlsx')
df2

,dt,tme,stn_name,swmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,chlorophylla_flag,po4p_flag,dtn_flag,dtp_flag,toc_flag,gesm_flag,mib_flag,rainfall_flag,miclr_flag,bluegac_flag
0,2016-01,1회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01,2회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01,3회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01,4회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01,5회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,2016-12,76회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,2016-12,77회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,2016-12,78회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,2016-12,79회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,2016-12,80회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
div_cnt = df2[df2.columns[0]].value_counts().sort_index().tolist()
div_cnt

[64, 64, 80, 64, 64, 80, 64, 64, 80, 64, 64, 80]

In [73]:
div_cnt = df1[df1.columns[0]].value_counts().sort_index()
div_cnt.shape[0]
div_cnt[0]

64

In [134]:
df3 = make_timeseries_by_day(df2)
df3

2016

,dt,tme,stn_name,swmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,chlorophylla_flag,po4p_flag,dtn_flag,dtp_flag,toc_flag,gesm_flag,mib_flag,rainfall_flag,miclr_flag,bluegac_flag
0,2016-01-1 00:00:00,1회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-1 11:00:00,2회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-1 23:00:00,3회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-2 10:00:00,4회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-2 22:00:00,5회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,2016-12-30 01:00:00,76회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,2016-12-30 10:00:00,77회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,2016-12-30 20:00:00,78회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,2016-12-31 05:00:00,79회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,2016-12-31 14:00:00,80회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df = make_timeseries(df)
df.to_excel('dd.xlsx')
df

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,dt,tme,stn_name,swmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,chlorophylla_flag,po4p_flag,dtn_flag,dtp_flag,toc_flag,gesm_flag,mib_flag,rainfall_flag,miclr_flag,bluegac_flag
0,2016-01-01 00:00:00,1회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2016-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,2016-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,2016-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,2016-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.to_excel('min.xlsx', index=False)

In [5]:
div_cnt = df1[df1.columns[0]].value_counts().sort_index()
div_cnt

2016-01    64
2016-02    64
2016-03    80
2016-04    64
2016-05    64
2016-06    80
2016-07    64
2016-08    64
2016-09    80
2016-10    64
2016-11    64
2016-12    80
Name: dt, dtype: int64

In [28]:
30 /div_cnt[0]

0.46875

In [54]:
div_cnt.shape[0]

12

In [51]:
month = calendar.monthrange(2019,2)
month[1]

28

In [68]:
ttime=[]
time_day = []
time_time = []
for i in range(div_cnt.shape[0]):
#     print(i)
    month = calendar.monthrange(2019,i+1)
    for j in range(div_cnt[i]):
#         print(j)
#         print(month)
        
        time_val = datetime.timedelta(days = (month[1]/div_cnt[i]*j)+1)
#         time_day.append()
        ttime.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
#         ttime.append(str(df1.iloc[div_cnt[0],0])+'-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
#         print('day : ', str(time_val.days))
#         print('time : ', time_val.seconds//60//60)
#         print('final: ', str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
#         print(time_hour_min.days)
#         ttime.append(str(time_hour_min))

In [139]:
df3 = pd.read_excel('data/test111.xlsx')
df3

,oper_de,erbsq_nm,erbsq_code,cat_id,cat_did,lo,la,legaldong_code,dcwtrh_no,physic_flux,...,cod,ss,tn,tp,coc,cntc_trefct_nm,cntc_trefct_code,dcwtr_legaldong_code,dcwtr_river_nm,dcwtr_river_code
0,20120101,산성마을하수도,264100V01,20220502,2022050200,129.048750,35.277274,26410113,1,0.000000,...,16.600,8.5,1.70000,12.800,0.966204,NaN,NaN,2.641011e+09,대천천,2027650.0
1,20120101,공해마을하수도,264100V02,20220502,2022050200,129.048750,35.277274,26410113,1,0.000000,...,18.200,8.8,1.60000,15.900,0.858848,NaN,NaN,2.641011e+09,대천천,2027650.0
2,20120101,양산시분뇨처리시설,483300F01,20220502,2022050200,129.033914,35.280845,48330310,1,5.560769,...,2898.325,6275.0,123.28025,543.256,18649.181952,양산하수종말처리장,483300W01,4.833031e+09,NaN,NaN
3,20120101,양산하수종말처리장,483300W01,20220502,2022050200,129.033914,35.280845,48330310,1,0.000000,...,13.200,2.6,0.11300,5.614,3.935704,NaN,NaN,4.833031e+09,양산천,2007500.0
4,20120102,양산하수종말처리장,483300W01,20220502,2022050200,129.033914,35.280845,48330310,1,0.000000,...,13.000,2.4,0.10800,6.122,4.238450,NaN,NaN,4.833031e+09,양산천,2007500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10938,20181231,주중마을하수도,482500V19,20220502,2022050200,129.007917,35.260451,48250370,1,0.000000,...,0.000,0.0,0.00000,0.000,0.000000,NaN,NaN,4.825037e+09,주중천,2420030.0
10939,20181231,시례마을하수도,482500V20,20220502,2022050200,129.007917,35.260451,48250370,1,0.000000,...,0.000,0.0,0.00000,0.000,0.000000,NaN,NaN,4.825037e+09,예안천,2420020.0
10940,20181231,대동하수처리장,482500W07,20220502,2022050200,129.007917,35.260451,48250370,1,0.000000,...,6.400,0.2,3.59900,0.064,0.035440,NaN,NaN,4.825037e+09,예안천,2420020.0
10941,20181231,양산시분뇨처리시설,483300F01,20220502,2022050200,129.033914,35.280845,48330310,1,4.722845,...,0.000,0.0,0.00000,0.000,0.000000,양산하수종말처리장,483300W01,NaN,NaN,NaN
10942,20181231,양산하수종말처리장,483300W01,20220502,2022050200,129.033914,35.280845,48330310,1,4895.591910,...,10.502,4.4,16.50000,0.124,2.482521,NaN,NaN,4.833031e+09,양산천,2007500.0

In [141]:
time_day = []
year = int(str(df3.iloc[0,0])[0:4])
print(year)

div_cnt = df3[df3.columns[0]].value_counts().sort_index()
div_cnt

2012

20120101    4
20120102    1
20120103    1
20120104    5
20120105    1
           ..
20181227    5
20181228    5
20181229    5
20181230    5
20181231    5
Name: oper_de, Length: 2557, dtype: int64

In [143]:
len(div_cnt)

2557

In [ ]:
for i in range(len(div_cnt)):
    month = calendar.monthrange(year,i+1)
        for j in range(div_cnt[i]):
    #         print(j)
    #         print(month)
            time_val = datetime.timedelta(days = (month[1]/div_cnt[i]*j)+1)
#             print('time_val' , time_val)
    #         time_day.append()
#             print(str(time.strftime('%H', time.gmtime(time_val.seconds))))
#             time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
            time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:00:00', time.gmtime(time_val.seconds))))
#             print('append')
            
#     df.iloc[:,0]= ftime
#     print(time_day)
#     print('end 1')
#     print(df.iloc[:,0])
    df.iloc[:,0] = df.iloc[:,0] + time_day