In [1]:
import pandas as pd
import numpy as np
import datetime 
import os
import calendar
import time

In [2]:

folder = ['data/han/자동', 'data/han/수질', 'data/han/방사성', 'data/han/TMS', 
         'data/han/유량', 'data/han/수위', 'data/han/총량', 'data/han/퇴적물', 'data/han/조류']

file_names =[
    [
        ["가평_2016.xlsx", "가평_2017.xlsx", "가평_2018.xlsx", "가평_2019.xlsx"],
        ["의암호_2016.xlsx", "의암호_2017.xlsx", "의암호_2018.xlsx", "의암호_2019.xlsx"],
        ["서상_2016.xlsx", "서상_2017.xlsx", "서상_2018.xlsx", "서상_2019.xlsx"]
    ],
    [
        ["대성리_2016.xlsx", "대성리_2017.xlsx", "대성리_2018.xlsx", "대성리_2019.xlsx"],
        ["청평댐3_2016.xlsx", "청평댐3_2017.xlsx", "청평댐3_2018.xlsx", "청평댐3_2019.xlsx"],
        ["남이섬_2016.xlsx", "남이섬_2017.xlsx", "남이섬_2018.xlsx", "남이섬_2019.xlsx"],
        ["가평천3_2016.xlsx", "가평천3_2017.xlsx", "가평천3_2018.xlsx", "가평천3_2019.xlsx"],
        ["춘성교_2016.xlsx", "춘성교_2017.xlsx", "춘성교_2018.xlsx", "춘성교_2019.xlsx"],
        ["의암_2016.xlsx", "의암_2017.xlsx", "의암_2018.xlsx", "의암_2019.xlsx"],
        ["춘천_2016.xlsx", "춘천_2017.xlsx", "춘천_2018.xlsx", "춘천_2019.xlsx"],
        ["춘천댐1_2016.xlsx", "춘천댐1_2017.xlsx", "춘천댐1_2018.xlsx", "춘천댐1_2019.xlsx"],
        ["춘천댐3_2016.xlsx", "춘천댐3_2017.xlsx", "춘천댐3_2018.xlsx", "춘천댐3_2019.xlsx"]
    ],
    [
        ["의암댐_2016.xlsx", "의암댐_2017.xlsx", "의암댐_2018.xlsx", "의암댐_2019.xlsx"]
    ],
    [
        ["가평청평하수_2016.xlsx", "가평청평하수_2017.xlsx", "가평청평하수_2018.xlsx", "가평청평하수_2019.xlsx"],
        ["가평신천하수_2016.xlsx", "가평신천하수_2017.xlsx", "가평신천하수_2018.xlsx", "가평신천하수_2019.xlsx"],
        ["가평하수_2016.xlsx", "가평하수_2017.xlsx", "가평하수_2018.xlsx", "가평하수_2019.xlsx"],
        ["춘천강촌하수_2016.xlsx", "춘천강촌하수_2017.xlsx", "춘천강촌하수_2018.xlsx", "춘천강촌하수_2019.xlsx"],
        ["춘천하수_2016.xlsx", "춘천하수_2017.xlsx", "춘천하수_2018.xlsx", "춘천하수_2019.xlsx"],
        ["화천하수_2016.xlsx", "화천하수_2017.xlsx", "화천하수_2018.xlsx", "화천하수_2019.xlsx"]
    ],
    [
        ["가평군(대성리)_2016.xlsx", "가평군(대성리)_2017.xlsx", "가평군(대성리)_2018.xlsx", "가평군(대성리)_2019.xlsx"],
        ["가평군(청평교)_2016.xlsx", "가평군(청평교)_2017.xlsx", "가평군(청평교)_2018.xlsx", "가평군(청평교)_2019.xlsx"],
        ["가평군(가평교)_2016.xlsx", "가평군(가평교)_2017.xlsx", "가평군(가평교)_2018.xlsx", "가평군(가평교)_2019.xlsx"],
        ["춘천시(강촌교)_2016.xlsx", "춘천시(강촌교)_2017.xlsx", "춘천시(강촌교)_2018.xlsx", "춘천시(강촌교)_2019.xlsx"]
    ],
    [
        ["가평군(대성리)_2016.xlsx", "가평군(대성리)_2017.xlsx", "가평군(대성리)_2018.xlsx", "가평군(대성리)_2019.xlsx"],
        ["가평군(청평교)_2016.xlsx", "가평군(청평교)_2017.xlsx", "가평군(청평교)_2018.xlsx", "가평군(청평교)_2019.xlsx"],
        ["가평군(청평댐)_2016.xlsx", "가평군(청평댐)_2017.xlsx", "가평군(청평댐)_2018.xlsx", "가평군(청평댐)_2019.xlsx"],
        ["가평군(가평교)_2016.xlsx", "가평군(가평교)_2017.xlsx", "가평군(가평교)_2018.xlsx", "가평군(가평교)_2019.xlsx"],
        ["춘천시(강촌교)_2016.xlsx", "춘천시(강촌교)_2017.xlsx", "춘천시(강촌교)_2018.xlsx", "춘천시(강촌교)_2019.xlsx"],
        ["춘천시(소양2교)_2016.xlsx", "춘천시(소양2교)_2017.xlsx", "춘천시(소양2교)_2018.xlsx", "춘천시(소양2교)_2019.xlsx"],
        ["춘천시(춘천댐)_2016.xlsx", "춘천시(춘천댐)_2017.xlsx", "춘천시(춘천댐)_2018.xlsx", "춘천시(춘천댐)_2019.xlsx"],
        ["화천군(화천대교)_2016.xlsx", "화천군(화천대교)_2017.xlsx", "화천군(화천대교)_2018.xlsx", "화천군(화천대교)_2019.xlsx"]
    ],
    [
        ["조종천3_2016.xlsx", "조종천3_2017.xlsx", "조종천3_2018.xlsx", "조종천3_2019.xlsx"],
        ["청평_2016.xlsx", "청평_2017.xlsx", "청평_2018.xlsx", "청평_2019.xlsx"],
        ["가평천3_2016.xlsx", "가평천3_2017.xlsx", "가평천3_2018.xlsx", "가평천3_2019.xlsx"],
        ["춘성교_2016.xlsx", "춘성교_2017.xlsx", "춘성교_2018.xlsx", "춘성교_2019.xlsx"],
        ["화천_2016.xlsx", "화천_2017.xlsx", "화천_2018.xlsx", "화천_2019.xlsx"]
    ],
    [
        ["대성리_2016.xlsx", "대성리_2017.xlsx", "대성리_2018.xlsx", "대성리_2019.xlsx"],
        ["청평댐2_2016.xlsx", "청평댐2_2017.xlsx", "청평댐2_2018.xlsx", "청평댐2_2019.xlsx"],
        ["춘성교_2016.xlsx", "춘성교_2017.xlsx", "춘성교_2018.xlsx", "춘성교_2019.xlsx"],
        ["의암댐2_2016.xlsx", "의암댐2_2017.xlsx", "의암댐2_2018.xlsx", "의암댐2_2019.xlsx"],
        ["춘천댐2_2016.xlsx", "춘천댐2_2017.xlsx", "춘천댐2_2018.xlsx", "춘천댐2_2019.xlsx"],
        ["춘천댐3_2016.xlsx", "춘천댐3_2017.xlsx", "춘천댐3_2018.xlsx", "춘천댐3_2019.xlsx"]
    ],
    [
        ["의암호_2016.xlsx", "의암호_2017.xlsx", "의암호_2018.xlsx", "의암호_2019.xlsx"],
        ["춘천호_2016.xlsx", "춘천호_2017.xlsx", "춘천호_2018.xlsx", "춘천호_2019.xlsx"]
    ]
]

**parameters for make**

In [171]:
#han 
# 자동, 수질, 방사성, TMS, 유량, 수위, 총량, 퇴적물, 조류
iloc_val = [
    ':,[26,27,28,29,30,31,32,33]',':,[28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,44]', 
    ':,29', ':,[27,28,30,31,32,33,35]',  ':,26',
    ':,26', ':,28:45', ':,[27,28,29,30,31,33]',
    ':,[30,31,36,40,50]'
]

div_iloc_val = [
    8, 16, 1, 7, 1, 1, 17, 6, 5
]

interpolation = [
    [False, False], [True, False], [True, True],
    [True, False], [False, False], [False, False],
    [True, False], [True, False], [True, True]
]

# for day_sin, day_cos, year_sin, year_cos // each list

div_iloc_val = [x+4 for x in div_iloc_val]

In [173]:
div_iloc_val

[12, 20, 5, 11, 5, 5, 21, 10, 9]

**parameters for divide**

In [5]:
def make_timeseries_by_day(df):
    time_day = []
#     year = int(str(df.iloc[0,0]).split('-')[0])
    year = int(str(df.iloc[0,0])[0:4])
    print(year)
    
    if df.shape[0] == 1 :
        ori_time = str(df.iloc[0,0])+ "-06-15 12:00"
        ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
        df.iloc[0,0] = ori_time
        
        return df
    
    if df.shape[0] == 2 :
        ori_time = str(df.iloc[0,0])+ "-03-15 12:00"
        ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
        df.iloc[0,0] = ori_time
        ori_time = str(df.iloc[1,0])+ "-09-15 12:00"
        ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
        df.iloc[1,0] = ori_time
        
        return df
    
        
    div_cnt = df[df.columns[0]].value_counts().sort_index().tolist()
#     if div_cnt.shape[0] == 1 :
#         print('shape in')
#         div_cnt[0] = 1
#         div_cnt[1] = 1
            
    for i in range(len(div_cnt)):
#         print(i)
        month = calendar.monthrange(year,i+1)
        for j in range(div_cnt[i]):
    #         print(j)
    #         print(month)
            time_val = datetime.timedelta(days = (month[1]/div_cnt[i]*j)+1)
#             print('time_val' , time_val)
    #         time_day.append()
#             print(str(time.strftime('%H', time.gmtime(time_val.seconds))))
#             time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
            time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:00:00', time.gmtime(time_val.seconds))))
#             print('append')
            
#     df.iloc[:,0]= ftime
#     print(time_day)
#     print('end 1')
#     print(df.iloc[:,0])
    df.iloc[:,0] = df.iloc[:,0] + time_day
#     print('end 2')
    
    return df

In [6]:
def make_timeseries(df):
#     print(interpolate)
#     print(df.shape)
    df = df.dropna(axis='rows', thresh=3)
    date_col = df.columns[0]
    df[date_col] = pd.to_datetime(df[date_col])
    df = df[df[date_col].notna()]

    year = pd.DatetimeIndex(df[date_col]).year.astype(np.int64)

    start = str(year[0]) + "-01-01 00:00"
#     start

    end = str(year[0]) + "-12-31 23:00"
#     end

    time_series = pd.date_range(start = start, end = end, freq='H')
    time_series
    time_series = pd.DataFrame(time_series)
    time_series.columns = [date_col]   
    time_series

    df = pd.concat([time_series, df], axis=0)
    df = df.drop_duplicates([date_col], keep="last")
    df = df.sort_values([date_col], axis=0)
    
#     if interpolate :
# #         print('interpolation')
#         df = df.interpolate(method='spline', order=2, limit_direction='both')
        
# #     print(df.shape)
    return df

In [108]:
def createDataFrame(folder, file_list, iloc_val= None, interpolate=[False,False]):
    print(folder)
# #     print(file_list)
    print(interpolate)
#     print(interpolate[0])
#     print(interpolate[1])
    day = 24 * 60 * 60
    week = day * 7
    year = (365.2425) * day

    da = db = [[] for i in range(len(file_list))]
    for i in range(len(file_list)):
        for filename in file_list[i]:
            print(filename)
            path = os.path.join(folder, filename)
            df_tmp = pd.read_excel(path)
            
            if interpolate[1]: 
                print('make_timeseries_by_day')
                df_tmp = make_timeseries_by_day(df_tmp)
            
            df_tmp = make_timeseries(df_tmp)
            
            df_iloc = eval(f"df_tmp.iloc[{iloc_val}]")
            
            df_time = pd.DataFrame(df_tmp.iloc[:,0])  
            df_full_withtime = pd.concat([df_time, df_iloc], axis = 1)
            da[i].append(df_full_withtime)
            
#             if i == 0:
#                 df_time = pd.DataFrame(df_tmp.iloc[:,0])  
#                 df_full_withtime = pd.concat([df_time, df_iloc], axis = 1)
#                 da[i].append(df_full_withtime)
#             else :
#                 da[i].append(df_iloc)

        db[i] = pd.concat(da[i])
        db[i] = db[i].reset_index(drop=True)
        
        
        if interpolate[0] :
            print('interpolation')
            for j in range(1, db[i].shape[1], 1):
#                 print('j')
#                 print(j)
                idx = db[i].iloc[:, j].dropna()
#                 print(idx)

                if idx.shape[0] != 0:
                    db[i].iloc[0, j] = idx.iloc[0]
                    db[i].iloc[-1, j] = idx.iloc[-1]
                
            db[i] = db[i].interpolate(method='polynomial', order=3, limit_direction='both')
#             db[i] = db[i].interpolate(method='pchip', order=3, limit_direction='both')

        

        date_time = pd.to_datetime(db[i].iloc[:, 0], format='%Y.%m.%d %H:%M',utc=True)
        timestamp_s = date_time.map(datetime.datetime.timestamp)
        db[i]['Day sin'] = np.sin(timestamp_s * (2 * np.pi / day))
        db[i]['Day cos'] = np.cos(timestamp_s * (2 * np.pi / day))
        # df['Week sin'] = np.sin(timestamp_s * (2 * np.pi / week))
        # df['Week cos'] = np.cos(timestamp_s * (2 * np.pi / week))
        db[i]['Year sin'] = np.sin(timestamp_s * (2 * np.pi / year))
        db[i]['Year cos'] = np.cos(timestamp_s * (2 * np.pi / year))

            
#     print(df.shape)pchip


    for i in range(1 , len(db)):
        db[i] = db[i].iloc[:,1:].rename(columns = lambda x: x + '_'+str(i))
      
    df = pd.concat(db, axis=1)

#     date_time = pd.to_datetime(df.iloc[:, 0], format='%Y.%m.%d %H:%M',utc=True)
#     timestamp_s = date_time.map(datetime.datetime.timestamp)
#     df['Day sin'] = np.sin(timestamp_s * (2 * np.pi / day))
#     df['Day cos'] = np.cos(timestamp_s * (2 * np.pi / day))
#     # df['Week sin'] = np.sin(timestamp_s * (2 * np.pi / week))
#     # df['Week cos'] = np.cos(timestamp_s * (2 * np.pi / week))
#     df['Year sin'] = np.sin(timestamp_s * (2 * np.pi / year))
#     df['Year cos'] = np.cos(timestamp_s * (2 * np.pi / year))
    
    return df

In [183]:
def divideDataFrame(df_ori, div_iloc_val = 1, cnt=4):
    df = df_ori.iloc[:,1:]
#     print(de_iloc_val)
#     print(type(de_iloc_val))
#     df.set_index(df.colums[0], inplace = True)
    print(df)
        
    df_d = []
    for j in range(len(div_iloc_val)):
        print('j' ,j)
        col_cnt = div_iloc_val[j]        
        for i in range(cnt) :
                
            start = i*div_iloc_val[j]
            end = i*div_iloc_val[j] + (div_iloc_val[j]+1)
            print('start : ', start)
            print('end : ', end)
#             print((i*div_iloc_val[j]))
#             print((i*div_iloc_val[j])+div_iloc_val[j])
#             print('aaaaaaa')
            df_tmp = df.iloc[:, start : end]
        df_d.append(df_tmp)
        
    return df_d

**make**

In [109]:
df_tmp = createDataFrame(folder[0], file_names[0], iloc_val[0], interpolation[0])

data/han/자동
[False, False]
가평_2016.xlsx
가평_2017.xlsx
가평_2018.xlsx
가평_2019.xlsx
의암호_2016.xlsx
의암호_2017.xlsx
의암호_2018.xlsx
의암호_2019.xlsx
서상_2016.xlsx
서상_2017.xlsx
서상_2018.xlsx
서상_2019.xlsx

In [110]:
df_tmp

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,Day sin,...,do_value_2,ec_value_2,toc_value_2,총질소_값_2,총인_값_2,클로로필-a_값_2,Day sin_2,Day cos_2,Year sin_2,Year cos_2
0,2016-01-01 00:00:00,4.46667,7.50000,10.80000,126.00000,1.35833,2.39833,0.00600,5.74167,-1.407890e-12,...,12.74167,105.83333,1.34500,NaN,NaN,2.75083,-1.407890e-12,1.000000,-0.002666,0.999996
1,2016-01-01 01:00:00,4.30000,7.50000,10.80000,126.25000,1.35000,2.48958,0.00300,5.37500,2.588190e-01,...,12.66667,106.08333,1.33833,NaN,NaN,2.72083,2.588190e-01,0.965926,-0.001950,0.999998
2,2016-01-01 02:00:00,4.40833,7.50000,10.80000,126.08333,1.38333,2.54467,0.00300,5.37500,5.000000e-01,...,12.52500,106.91667,1.29167,NaN,NaN,2.68583,5.000000e-01,0.866025,-0.001233,0.999999
3,2016-01-01 03:00:00,4.41667,7.50000,10.80000,126.00000,1.40000,2.48175,0.00225,5.44167,7.071068e-01,...,12.48333,106.75000,1.31917,NaN,NaN,2.75500,7.071068e-01,0.707107,-0.000516,1.000000
4,2016-01-01 04:00:00,4.40000,7.50000,10.80000,126.00000,1.35833,2.45333,0.00258,5.44167,8.660254e-01,...,12.46667,106.16667,1.30250,NaN,NaN,2.64667,8.660254e-01,0.500000,0.000201,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2019-12-31 19:00:00,3.59167,7.09333,12.63000,115.00000,1.77667,1.71833,0.00225,22.65833,-9.659258e-01,...,12.16167,110.81667,1.60167,1.58417,0.00900,13.66000,-9.659258e-01,0.258819,-0.005734,0.999984
35060,2019-12-31 20:00:00,3.52500,7.08583,12.61667,115.00000,1.73167,1.72625,0.00100,21.89167,-8.660254e-01,...,12.32000,111.60833,1.64167,1.49883,0.00900,13.13583,-8.660254e-01,0.500000,-0.005017,0.999987
35061,2019-12-31 21:00:00,3.40000,7.06083,12.59250,115.00000,1.70500,1.73783,0.00200,21.26667,-7.071068e-01,...,12.39083,112.32500,1.68167,1.58917,0.00925,12.69167,-7.071068e-01,0.707107,-0.004301,0.999991
35062,2019-12-31 22:00:00,3.41667,7.07417,12.58917,115.00000,1.65333,1.72342,0.00208,21.45000,-5.000000e-01,...,12.45083,113.39167,1.64833,1.48750,0.01017,12.56000,-5.000000e-01,0.866025,-0.003584,0.999994
35063,2019-12-31 23:00:00,3.32500,7.05750,12.57167,115.00000,1.67500,1.70467,0.00233,20.85000,-2.588190e-01,...,12.48750,114.51667,1.65000,1.51717,0.01083,12.53583,-2.588190e-01,0.965926,-0.002867,0.999996

In [111]:
df_ori = []
for i in range(len(folder)):
    df_tmp = createDataFrame(folder[i], file_names[i], iloc_val[i], interpolation[i])
    if i == 0 :
        df_ori.append(df_tmp)
    else :
        df_ori.append(df_tmp.iloc[:,1:])

df = pd.concat(df_ori, axis = 1)
df

data/han/자동
[False, False]
가평_2016.xlsx
가평_2017.xlsx
가평_2018.xlsx
가평_2019.xlsx
의암호_2016.xlsx
의암호_2017.xlsx
의암호_2018.xlsx
의암호_2019.xlsx
서상_2016.xlsx
서상_2017.xlsx
서상_2018.xlsx
서상_2019.xlsx
data/han/수질
[True, False]
대성리_2016.xlsx
대성리_2017.xlsx
대성리_2018.xlsx
대성리_2019.xlsx
interpolation
청평댐3_2016.xlsx
청평댐3_2017.xlsx
청평댐3_2018.xlsx
청평댐3_2019.xlsx
interpolation
남이섬_2016.xlsx
남이섬_2017.xlsx
남이섬_2018.xlsx
남이섬_2019.xlsx
interpolation
가평천3_2016.xlsx
가평천3_2017.xlsx
가평천3_2018.xlsx
가평천3_2019.xlsx
interpolation
춘성교_2016.xlsx
춘성교_2017.xlsx
춘성교_2018.xlsx
춘성교_2019.xlsx
interpolation
의암_2016.xlsx
의암_2017.xlsx
의암_2018.xlsx
의암_2019.xlsx
interpolation
춘천_2016.xlsx
춘천_2017.xlsx
춘천_2018.xlsx
춘천_2019.xlsx
interpolation
춘천댐1_2016.xlsx
춘천댐1_2017.xlsx
춘천댐1_2018.xlsx
춘천댐1_2019.xlsx
interpolation
춘천댐3_2016.xlsx
춘천댐3_2017.xlsx
춘천댐3_2018.xlsx
춘천댐3_2019.xlsx
interpolation
data/han/방사성
[True, True]
의암댐_2016.xlsx
make_timeseries_by_day
2016
의암댐_2017.xlsx
make_timeseries_by_day
2017
의암댐_2018.xlsx
make_timeseries_by_day
2018
의암댐_2019.xlsx
make_timeseries_by_day
2019
interpolation
data/han/TMS
[True, False]
가평청평하수_2016.xlsx
가평청평하수_2017.xlsx
가평청평하수_2018.xlsx
가평청평하수_2019.xlsx
interpolation
가평신천하수_2016.xlsx
가평신천하수_2017.xlsx
가평신천하수_2018.xlsx
가평신천하수_2019.xlsx
interpolation
가평하수_2016.xlsx
가평하수_2017.xlsx
가평하수_2018.xlsx
가평하수_2019.xlsx
interpolation
춘천강촌하수_2016.xlsx
춘천강촌하수_2017.xlsx
춘천강촌하수_2018.xlsx
춘천강촌하수_2019.xlsx
interpolation
춘천하수_2016.xlsx
춘천하수_2017.xlsx
춘천하수_2018.xlsx
춘천하수_2019.xlsx
interpolation
화천하수_2016.xlsx
화천하수_2017.xlsx
화천하수_2018.xlsx
화천하수_2019.xlsx
interpolation
data/han/유량
[False, False]
가평군(대성리)_2016.xlsx
가평군(대성리)_2017.xlsx
가평군(대성리)_2018.xlsx
가평군(대성리)_2019.xlsx
가평군(청평교)_2016.xlsx
가평군(청평교)_2017.xlsx
가평군(청평교)_2018.xlsx
가평군(청평교)_2019.xlsx
가평군(가평교)_2016.xlsx
가평군(가평교)_2017.xlsx
가평군(가평교)_2018.xlsx
가평군(가평교)_2019.xlsx
춘천시(강촌교)_2016.xlsx
춘천시(강촌교)_2017.xlsx
춘천시(강촌교)_2018.xlsx
춘천시(강촌교)_2019.xlsx
data/han/수위
[False, False]
가평군(대성리)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(대성리)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(대성리)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(대성리)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평교)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평교)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평교)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평교)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평댐)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평댐)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평댐)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(청평댐)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(가평교)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(가평교)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(가평교)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

가평군(가평교)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(강촌교)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(강촌교)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(강촌교)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(강촌교)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(소양2교)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(소양2교)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(소양2교)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(소양2교)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(춘천댐)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(춘천댐)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(춘천댐)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

춘천시(춘천댐)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

화천군(화천대교)_2016.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

화천군(화천대교)_2017.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

화천군(화천대교)_2018.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

화천군(화천대교)_2019.xlsx

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

data/han/총량
[True, False]
조종천3_2016.xlsx
조종천3_2017.xlsx
조종천3_2018.xlsx
조종천3_2019.xlsx
interpolation
청평_2016.xlsx
청평_2017.xlsx
청평_2018.xlsx
청평_2019.xlsx
interpolation
가평천3_2016.xlsx
가평천3_2017.xlsx
가평천3_2018.xlsx
가평천3_2019.xlsx
interpolation
춘성교_2016.xlsx
춘성교_2017.xlsx
춘성교_2018.xlsx
춘성교_2019.xlsx
interpolation
화천_2016.xlsx
화천_2017.xlsx
화천_2018.xlsx
화천_2019.xlsx
interpolation
data/han/퇴적물
[True, False]
대성리_2016.xlsx
대성리_2017.xlsx
대성리_2018.xlsx
대성리_2019.xlsx
interpolation
청평댐2_2016.xlsx
청평댐2_2017.xlsx
청평댐2_2018.xlsx
청평댐2_2019.xlsx
interpolation
춘성교_2016.xlsx
춘성교_2017.xlsx
춘성교_2018.xlsx
춘성교_2019.xlsx
interpolation
의암댐2_2016.xlsx
의암댐2_2017.xlsx
의암댐2_2018.xlsx
의암댐2_2019.xlsx
interpolation
춘천댐2_2016.xlsx
춘천댐2_2017.xlsx
춘천댐2_2018.xlsx
춘천댐2_2019.xlsx
interpolation
춘천댐3_2016.xlsx
춘천댐3_2017.xlsx
춘천댐3_2018.xlsx
춘천댐3_2019.xlsx
interpolation
data/han/조류
[True, True]
의암호_2016.xlsx
make_timeseries_by_day
2016
의암호_2017.xlsx
make_timeseries_by_day
2017
의암호_2018.xlsx
make_timeseries_by_day
2018
의암호_2019.xlsx
make_timeseries_by_day
2019
interpolation
춘천호_2016.xlsx
make_timeseries_by_day
2016
춘천호_2017.xlsx
make_timeseries_by_day
2017
춘천호_2018.xlsx
make_timeseries_by_day
2018
춘천호_2019.xlsx
make_timeseries_by_day
2019
interpolation

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,Day sin,...,Year cos,ph_1,tur_1,do_1,sd_1,bluegac_1,Day sin_1,Day cos_1,Year sin_1,Year cos_1
0,2016-01-01 00:00:00,4.46667,7.50000,10.80000,126.00000,1.35833,2.39833,0.00600,5.74167,-1.407890e-12,...,0.999996,7.100000,2.200000,12.200000,1.800000,0.000000e+00,-1.407890e-12,1.000000,-0.002666,0.999996
1,2016-01-01 01:00:00,4.30000,7.50000,10.80000,126.25000,1.35000,2.48958,0.00300,5.37500,2.588190e-01,...,0.999998,14.916495,17.122481,10.764012,-10.545551,-1.748489e-99,2.588190e-01,0.965926,-0.001950,0.999998
2,2016-01-01 02:00:00,4.40833,7.50000,10.80000,126.08333,1.38333,2.54467,0.00300,5.37500,5.000000e-01,...,0.999999,22.718674,32.017777,9.330647,-22.874202,-3.492165e-99,5.000000e-01,0.866025,-0.001233,0.999999
3,2016-01-01 03:00:00,4.41667,7.50000,10.80000,126.00000,1.40000,2.48175,0.00225,5.44167,7.071068e-01,...,1.000000,30.506546,46.885905,7.899905,-35.185960,-5.231032e-99,7.071068e-01,0.707107,-0.000516,1.000000
4,2016-01-01 04:00:00,4.40000,7.50000,10.80000,126.00000,1.35833,2.45333,0.00258,5.44167,8.660254e-01,...,1.000000,38.280122,61.726884,6.471784,-47.480834,-6.965096e-99,8.660254e-01,0.500000,0.000201,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2019-12-31 19:00:00,3.59167,7.09333,12.63000,115.00000,1.77667,1.71833,0.00225,22.65833,-9.659258e-01,...,0.999984,9.016598,1.027475,10.389564,5.210117,3.380038e-73,-9.659258e-01,0.258819,-0.005734,0.999984
35060,2019-12-31 20:00:00,3.52500,7.08583,12.61667,115.00000,1.73167,1.72625,0.00100,21.89167,-8.660254e-01,...,0.999987,9.014061,1.024332,10.389211,5.185003,3.049659e-73,-8.660254e-01,0.500000,-0.005017,0.999987
35061,2019-12-31 21:00:00,3.40000,7.06083,12.59250,115.00000,1.70500,1.73783,0.00200,21.26667,-7.071068e-01,...,0.999991,9.010421,1.018835,10.390525,5.142429,2.401606e-73,-7.071068e-01,0.707107,-0.004301,0.999991
35062,2019-12-31 22:00:00,3.41667,7.07417,12.58917,115.00000,1.65333,1.72342,0.00208,21.45000,-5.000000e-01,...,0.999994,9.005720,1.010790,10.393968,5.081170,1.397760e-73,-5.000000e-01,0.866025,-0.003584,0.999994
35063,2019-12-31 23:00:00,3.32500,7.05750,12.57167,115.00000,1.67500,1.70467,0.00233,20.85000,-2.588190e-01,...,0.999996,9.000000,1.000000,10.400000,5.000000,0.000000e+00,-2.588190e-01,0.965926,-0.002867,0.999996

In [104]:
df_ori[0]

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,tmpr_value_1,...,do_value_2,ec_value_2,toc_value_2,총질소_값_2,총인_값_2,클로로필-a_값_2,Day sin,Day cos,Year sin,Year cos
0,2016-01-01 00:00:00,4.46667,7.50000,10.80000,126.00000,1.35833,2.39833,0.00600,5.74167,3.06667,...,12.74167,105.83333,1.34500,NaN,NaN,2.75083,-1.407890e-12,1.000000,-0.002666,0.999996
1,2016-01-01 01:00:00,4.30000,7.50000,10.80000,126.25000,1.35000,2.48958,0.00300,5.37500,3.10000,...,12.66667,106.08333,1.33833,NaN,NaN,2.72083,2.588190e-01,0.965926,-0.001950,0.999998
2,2016-01-01 02:00:00,4.40833,7.50000,10.80000,126.08333,1.38333,2.54467,0.00300,5.37500,3.09167,...,12.52500,106.91667,1.29167,NaN,NaN,2.68583,5.000000e-01,0.866025,-0.001233,0.999999
3,2016-01-01 03:00:00,4.41667,7.50000,10.80000,126.00000,1.40000,2.48175,0.00225,5.44167,3.04167,...,12.48333,106.75000,1.31917,NaN,NaN,2.75500,7.071068e-01,0.707107,-0.000516,1.000000
4,2016-01-01 04:00:00,4.40000,7.50000,10.80000,126.00000,1.35833,2.45333,0.00258,5.44167,3.04167,...,12.46667,106.16667,1.30250,NaN,NaN,2.64667,8.660254e-01,0.500000,0.000201,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2019-12-31 19:00:00,3.59167,7.09333,12.63000,115.00000,1.77667,1.71833,0.00225,22.65833,4.84167,...,12.16167,110.81667,1.60167,1.58417,0.00900,13.66000,-9.659258e-01,0.258819,-0.005734,0.999984
35060,2019-12-31 20:00:00,3.52500,7.08583,12.61667,115.00000,1.73167,1.72625,0.00100,21.89167,4.80000,...,12.32000,111.60833,1.64167,1.49883,0.00900,13.13583,-8.660254e-01,0.500000,-0.005017,0.999987
35061,2019-12-31 21:00:00,3.40000,7.06083,12.59250,115.00000,1.70500,1.73783,0.00200,21.26667,4.73333,...,12.39083,112.32500,1.68167,1.58917,0.00925,12.69167,-7.071068e-01,0.707107,-0.004301,0.999991
35062,2019-12-31 22:00:00,3.41667,7.07417,12.58917,115.00000,1.65333,1.72342,0.00208,21.45000,4.66667,...,12.45083,113.39167,1.64833,1.48750,0.01017,12.56000,-5.000000e-01,0.866025,-0.003584,0.999994
35063,2019-12-31 23:00:00,3.32500,7.05750,12.57167,115.00000,1.67500,1.70467,0.00233,20.85000,4.62500,...,12.48750,114.51667,1.65000,1.51717,0.01083,12.53583,-2.588190e-01,0.965926,-0.002867,0.999996

In [112]:
df.to_excel('han_all.xlsx', index=False)

### divide

In [113]:
df = pd.read_excel('han_all.xlsx')

In [114]:
df

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,Day sin,...,Year cos.8,ph_1.1,tur_1,do_1.1,sd_1,bluegac_1,Day sin_1.7,Day cos_1.7,Year sin_1.7,Year cos_1.7
0,2016-01-01 00:00:00,4.46667,7.50000,10.80000,126.00000,1.35833,2.39833,0.00600,5.74167,-1.407890e-12,...,0.999996,7.100000,2.200000,12.200000,1.800000,0.000000e+00,-1.407890e-12,1.000000,-0.002666,0.999996
1,2016-01-01 01:00:00,4.30000,7.50000,10.80000,126.25000,1.35000,2.48958,0.00300,5.37500,2.588190e-01,...,0.999998,14.916495,17.122481,10.764012,-10.545551,-1.748489e-99,2.588190e-01,0.965926,-0.001950,0.999998
2,2016-01-01 02:00:00,4.40833,7.50000,10.80000,126.08333,1.38333,2.54467,0.00300,5.37500,5.000000e-01,...,0.999999,22.718674,32.017777,9.330647,-22.874202,-3.492165e-99,5.000000e-01,0.866025,-0.001233,0.999999
3,2016-01-01 03:00:00,4.41667,7.50000,10.80000,126.00000,1.40000,2.48175,0.00225,5.44167,7.071068e-01,...,1.000000,30.506546,46.885905,7.899905,-35.185960,-5.231032e-99,7.071068e-01,0.707107,-0.000516,1.000000
4,2016-01-01 04:00:00,4.40000,7.50000,10.80000,126.00000,1.35833,2.45333,0.00258,5.44167,8.660254e-01,...,1.000000,38.280122,61.726884,6.471784,-47.480834,-6.965096e-99,8.660254e-01,0.500000,0.000201,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2019-12-31 19:00:00,3.59167,7.09333,12.63000,115.00000,1.77667,1.71833,0.00225,22.65833,-9.659258e-01,...,0.999984,9.016598,1.027475,10.389564,5.210117,3.380038e-73,-9.659258e-01,0.258819,-0.005734,0.999984
35060,2019-12-31 20:00:00,3.52500,7.08583,12.61667,115.00000,1.73167,1.72625,0.00100,21.89167,-8.660254e-01,...,0.999987,9.014061,1.024332,10.389211,5.185003,3.049659e-73,-8.660254e-01,0.500000,-0.005017,0.999987
35061,2019-12-31 21:00:00,3.40000,7.06083,12.59250,115.00000,1.70500,1.73783,0.00200,21.26667,-7.071068e-01,...,0.999991,9.010421,1.018835,10.390525,5.142429,2.401606e-73,-7.071068e-01,0.707107,-0.004301,0.999991
35062,2019-12-31 22:00:00,3.41667,7.07417,12.58917,115.00000,1.65333,1.72342,0.00208,21.45000,-5.000000e-01,...,0.999994,9.005720,1.010790,10.393968,5.081170,1.397760e-73,-5.000000e-01,0.866025,-0.003584,0.999994
35063,2019-12-31 23:00:00,3.32500,7.05750,12.57167,115.00000,1.67500,1.70467,0.00233,20.85000,-2.588190e-01,...,0.999996,9.000000,1.000000,10.400000,5.000000,0.000000e+00,-2.588190e-01,0.965926,-0.002867,0.999996

***divide by year***

In [115]:
han=df[df[df.columns[0]]>=datetime.datetime(2019, 1, 1)]
print(han)
han.to_excel('han_2019.xlsx', index=False)

                     ymdh  tmpr_value  ph_value  do_value  ec_value  \
26304 2019-01-01 00:00:00     2.78333   6.81917  12.60000      97.0
26305 2019-01-01 01:00:00     2.75000   6.81000  12.59167      97.0
26306 2019-01-01 02:00:00     2.76667   6.81833  12.57500      97.0
26307 2019-01-01 03:00:00     2.70833   6.81667  12.57500      97.0
26308 2019-01-01 04:00:00     2.83333   6.81000  12.50000      97.0
...                   ...         ...       ...       ...       ...
35059 2019-12-31 19:00:00     3.59167   7.09333  12.63000     115.0
35060 2019-12-31 20:00:00     3.52500   7.08583  12.61667     115.0
35061 2019-12-31 21:00:00     3.40000   7.06083  12.59250     115.0
35062 2019-12-31 22:00:00     3.41667   7.07417  12.58917     115.0
35063 2019-12-31 23:00:00     3.32500   7.05750  12.57167     115.0

       toc_value    총질소_값     총인_값  클로로필-a_값       Day sin  ...  Year cos.8  \
26304    1.39258  1.77117  0.00425   3.80000 -5.030095e-12  ...    0.999998
26305    1.39242  1.81150  0.00450   4.05000  2.588190e-01  ...    0.999996
26306    1.38183  1.76500  0.00325   3.80000  5.000000e-01  ...    0.999994
26307    1.37742  1.77500  0.00483   3.91667  7.071068e-01  ...    0.999991
26308    1.39783  1.77375  0.00433   3.91667  8.660254e-01  ...    0.999988
...          ...      ...      ...       ...           ...  ...         ...
35059    1.77667  1.71833  0.00225  22.65833 -9.659258e-01  ...    0.999984
35060    1.73167  1.72625  0.00100  21.89167 -8.660254e-01  ...    0.999987
35061    1.70500  1.73783  0.00200  21.26667 -7.071068e-01  ...    0.999991
35062    1.65333  1.72342  0.00208  21.45000 -5.000000e-01  ...    0.999994
35063    1.67500  1.70467  0.00233  20.85000 -2.588190e-01  ...    0.999996

         ph_1.1     tur_1     do_1.1      sd_1      bluegac_1   Day sin_1.7  \
26304  6.842885  7.729840  13.552457  3.165450 -1.068620e-138 -5.030095e-12
26305  6.772750  8.043223  13.614032  3.080786 -1.156078e-138  2.588190e-01
26306  6.702813  8.355723  13.675434  2.996359 -1.243292e-138  5.000000e-01
26307  6.633074  8.667341  13.736663  2.912170 -1.330261e-138  7.071068e-01
26308  6.563531  8.978077  13.797720  2.828217 -1.416987e-138  8.660254e-01
...         ...       ...        ...       ...            ...           ...
35059  9.016598  1.027475  10.389564  5.210117   3.380038e-73 -9.659258e-01
35060  9.014061  1.024332  10.389211  5.185003   3.049659e-73 -8.660254e-01
35061  9.010421  1.018835  10.390525  5.142429   2.401606e-73 -7.071068e-01
35062  9.005720  1.010790  10.393968  5.081170   1.397760e-73 -5.000000e-01
35063  9.000000  1.000000  10.400000  5.000000   0.000000e+00 -2.588190e-01

       Day cos_1.7  Year sin_1.7  Year cos_1.7
26304     1.000000      0.002021      0.999998
26305     0.965926      0.002738      0.999996
26306     0.866025      0.003455      0.999994
26307     0.707107      0.004172      0.999991
26308     0.500000      0.004888      0.999988
...            ...           ...           ...
35059     0.258819     -0.005734      0.999984
35060     0.500000     -0.005017      0.999987
35061     0.707107     -0.004301      0.999991
35062     0.866025     -0.003584      0.999994
35063     0.965926     -0.002867      0.999996

[8760 rows x 532 columns]

In [163]:
df1 = pd.read_excel('han_2019.xlsx')
df1

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,Day sin,...,Year cos.8,ph_1.1,tur_1,do_1.1,sd_1,bluegac_1,Day sin_1.7,Day cos_1.7,Year sin_1.7,Year cos_1.7
0,2019-01-01 00:00:00,2.78333,6.81917,12.60000,97.0,1.39258,1.77117,0.00425,3.80000,-5.030095e-12,...,0.999998,6.842885,7.729840,13.552457,3.165450,-1.068620e-138,-5.030095e-12,1.000000,0.002021,0.999998
1,2019-01-01 01:00:00,2.75000,6.81000,12.59167,97.0,1.39242,1.81150,0.00450,4.05000,2.588190e-01,...,0.999996,6.772750,8.043223,13.614032,3.080786,-1.156078e-138,2.588190e-01,0.965926,0.002738,0.999996
2,2019-01-01 02:00:00,2.76667,6.81833,12.57500,97.0,1.38183,1.76500,0.00325,3.80000,5.000000e-01,...,0.999994,6.702813,8.355723,13.675434,2.996359,-1.243292e-138,5.000000e-01,0.866025,0.003455,0.999994
3,2019-01-01 03:00:00,2.70833,6.81667,12.57500,97.0,1.37742,1.77500,0.00483,3.91667,7.071068e-01,...,0.999991,6.633074,8.667341,13.736663,2.912170,-1.330261e-138,7.071068e-01,0.707107,0.004172,0.999991
4,2019-01-01 04:00:00,2.83333,6.81000,12.50000,97.0,1.39783,1.77375,0.00433,3.91667,8.660254e-01,...,0.999988,6.563531,8.978077,13.797720,2.828217,-1.416987e-138,8.660254e-01,0.500000,0.004888,0.999988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2019-12-31 19:00:00,3.59167,7.09333,12.63000,115.0,1.77667,1.71833,0.00225,22.65833,-9.659258e-01,...,0.999984,9.016598,1.027475,10.389564,5.210117,3.380038e-73,-9.659258e-01,0.258819,-0.005734,0.999984
8756,2019-12-31 20:00:00,3.52500,7.08583,12.61667,115.0,1.73167,1.72625,0.00100,21.89167,-8.660254e-01,...,0.999987,9.014061,1.024332,10.389211,5.185003,3.049659e-73,-8.660254e-01,0.500000,-0.005017,0.999987
8757,2019-12-31 21:00:00,3.40000,7.06083,12.59250,115.0,1.70500,1.73783,0.00200,21.26667,-7.071068e-01,...,0.999991,9.010421,1.018835,10.390525,5.142429,2.401606e-73,-7.071068e-01,0.707107,-0.004301,0.999991
8758,2019-12-31 22:00:00,3.41667,7.07417,12.58917,115.0,1.65333,1.72342,0.00208,21.45000,-5.000000e-01,...,0.999994,9.005720,1.010790,10.393968,5.081170,1.397760e-73,-5.000000e-01,0.866025,-0.003584,0.999994
8759,2019-12-31 23:00:00,3.32500,7.05750,12.57167,115.0,1.67500,1.70467,0.00233,20.85000,-2.588190e-01,...,0.999996,9.000000,1.000000,10.400000,5.000000,0.000000e+00,-2.588190e-01,0.965926,-0.002867,0.999996

***divide by specific date***

In [100]:
start_day = datetime.datetime(2019,1,1)
end_day = datetime.datetime(2019,1,12)
print(end_day)
## 하루를 더해줘야 end_day까지 잘림
end_day += datetime.timedelta(days=1)
end_day

2019-01-12 00:00:00

datetime.datetime(2019, 1, 13, 0, 0)

In [132]:
df = df1.loc[(df1[df1.columns[0]]>=start_day) & (df1[df1.columns[0]]<end_day)]
df

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,tmpr_value_1,...,ph.1,tur,do.1,sd,bluegac,ph_1.1,tur_1,do_1.1,sd_1,bluegac_1
0,2019-01-01 00:00:00,2.78333,6.81917,12.60000,97.00000,1.39258,1.77117,0.00425,3.80000,2.98333,...,9.800000,0.200000,11.600000,2.400000,0.000000e+00,6.842885,7.729840,13.552457,3.165450,-1.068620e-138
1,2019-01-01 01:00:00,2.75000,6.81000,12.59167,97.00000,1.39242,1.81150,0.00450,4.05000,3.04167,...,9.778217,0.194297,11.737161,2.387160,2.565564e-155,6.772750,8.043223,13.614032,3.080786,-1.156078e-138
2,2019-01-01 02:00:00,2.76667,6.81833,12.57500,97.00000,1.38183,1.76500,0.00325,3.80000,3.03333,...,9.725749,0.185871,11.915292,2.374263,4.172951e-155,6.702813,8.355723,13.675434,2.996359,-1.243292e-138
3,2019-01-01 03:00:00,2.70833,6.81667,12.57500,97.00000,1.37742,1.77500,0.00483,3.91667,3.05833,...,9.648558,0.175310,12.124758,2.361519,4.957927e-155,6.633074,8.667341,13.736663,2.912170,-1.330261e-138
4,2019-01-01 04:00:00,2.83333,6.81000,12.50000,97.00000,1.39783,1.77375,0.00433,3.91667,3.05000,...,9.552604,0.163202,12.355923,2.349137,5.056257e-155,6.563531,8.978077,13.797720,2.828217,-1.416987e-138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2019-01-12 19:00:00,3.32500,6.92000,13.10000,99.44167,1.60383,1.76967,0.00483,7.50000,2.60000,...,9.448345,0.156043,12.435180,2.356043,5.613230e-163,-5.885728,64.607843,24.748779,-12.253892,-1.702744e-137
284,2019-01-12 20:00:00,3.32500,6.92000,13.04167,100.00000,1.66950,1.77308,0.00317,7.48333,2.60000,...,9.348920,0.143615,12.671315,2.343615,5.110829e-163,-5.908129,64.707954,24.768585,-12.281287,-1.705595e-137
285,2019-01-12 21:00:00,3.24167,6.92000,13.00833,100.00000,1.64850,1.72475,0.00350,7.42500,2.66667,...,9.251212,0.131401,12.903372,2.331401,4.147585e-163,-5.930390,64.807443,24.788269,-12.308515,-1.708427e-137
286,2019-01-12 22:00:00,2.95833,6.91917,13.02500,100.00000,1.65725,1.72775,0.00500,7.19167,2.57500,...,9.158382,0.119798,13.123843,2.319798,2.874218e-163,-5.952513,64.906309,24.807832,-12.335575,-1.711243e-137
287,2019-01-12 23:00:00,3.35833,6.92000,13.00000,99.42500,1.65708,1.77675,0.00500,7.78333,2.60833,...,9.073591,0.109199,13.325221,2.309199,1.441450e-163,-5.974496,65.004555,24.827272,-12.362469,-1.714041e-137

***divide by columns***

In [196]:
df1

,ymdh,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,Day sin,...,Year cos.8,ph_1.1,tur_1,do_1.1,sd_1,bluegac_1,Day sin_1.7,Day cos_1.7,Year sin_1.7,Year cos_1.7
0,2019-01-01 00:00:00,2.78333,6.81917,12.60000,97.0,1.39258,1.77117,0.00425,3.80000,-5.030095e-12,...,0.999998,6.842885,7.729840,13.552457,3.165450,-1.068620e-138,-5.030095e-12,1.000000,0.002021,0.999998
1,2019-01-01 01:00:00,2.75000,6.81000,12.59167,97.0,1.39242,1.81150,0.00450,4.05000,2.588190e-01,...,0.999996,6.772750,8.043223,13.614032,3.080786,-1.156078e-138,2.588190e-01,0.965926,0.002738,0.999996
2,2019-01-01 02:00:00,2.76667,6.81833,12.57500,97.0,1.38183,1.76500,0.00325,3.80000,5.000000e-01,...,0.999994,6.702813,8.355723,13.675434,2.996359,-1.243292e-138,5.000000e-01,0.866025,0.003455,0.999994
3,2019-01-01 03:00:00,2.70833,6.81667,12.57500,97.0,1.37742,1.77500,0.00483,3.91667,7.071068e-01,...,0.999991,6.633074,8.667341,13.736663,2.912170,-1.330261e-138,7.071068e-01,0.707107,0.004172,0.999991
4,2019-01-01 04:00:00,2.83333,6.81000,12.50000,97.0,1.39783,1.77375,0.00433,3.91667,8.660254e-01,...,0.999988,6.563531,8.978077,13.797720,2.828217,-1.416987e-138,8.660254e-01,0.500000,0.004888,0.999988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2019-12-31 19:00:00,3.59167,7.09333,12.63000,115.0,1.77667,1.71833,0.00225,22.65833,-9.659258e-01,...,0.999984,9.016598,1.027475,10.389564,5.210117,3.380038e-73,-9.659258e-01,0.258819,-0.005734,0.999984
8756,2019-12-31 20:00:00,3.52500,7.08583,12.61667,115.0,1.73167,1.72625,0.00100,21.89167,-8.660254e-01,...,0.999987,9.014061,1.024332,10.389211,5.185003,3.049659e-73,-8.660254e-01,0.500000,-0.005017,0.999987
8757,2019-12-31 21:00:00,3.40000,7.06083,12.59250,115.0,1.70500,1.73783,0.00200,21.26667,-7.071068e-01,...,0.999991,9.010421,1.018835,10.390525,5.142429,2.401606e-73,-7.071068e-01,0.707107,-0.004301,0.999991
8758,2019-12-31 22:00:00,3.41667,7.07417,12.58917,115.0,1.65333,1.72342,0.00208,21.45000,-5.000000e-01,...,0.999994,9.005720,1.010790,10.393968,5.081170,1.397760e-73,-5.000000e-01,0.866025,-0.003584,0.999994
8759,2019-12-31 23:00:00,3.32500,7.05750,12.57167,115.0,1.67500,1.70467,0.00233,20.85000,-2.588190e-01,...,0.999996,9.000000,1.000000,10.400000,5.000000,0.000000e+00,-2.588190e-01,0.965926,-0.002867,0.999996

In [191]:
df1.columns[0]

'ph_value'

In [198]:
ab = df1.set_index(df1.columns[0], inplace=False)
ab = ab.reset_index(drop=True)
ab

,tmpr_value,ph_value,do_value,ec_value,toc_value,총질소_값,총인_값,클로로필-a_값,Day sin,Day cos,...,Year cos.8,ph_1.1,tur_1,do_1.1,sd_1,bluegac_1,Day sin_1.7,Day cos_1.7,Year sin_1.7,Year cos_1.7
0,2.78333,6.81917,12.60000,97.0,1.39258,1.77117,0.00425,3.80000,-5.030095e-12,1.000000,...,0.999998,6.842885,7.729840,13.552457,3.165450,-1.068620e-138,-5.030095e-12,1.000000,0.002021,0.999998
1,2.75000,6.81000,12.59167,97.0,1.39242,1.81150,0.00450,4.05000,2.588190e-01,0.965926,...,0.999996,6.772750,8.043223,13.614032,3.080786,-1.156078e-138,2.588190e-01,0.965926,0.002738,0.999996
2,2.76667,6.81833,12.57500,97.0,1.38183,1.76500,0.00325,3.80000,5.000000e-01,0.866025,...,0.999994,6.702813,8.355723,13.675434,2.996359,-1.243292e-138,5.000000e-01,0.866025,0.003455,0.999994
3,2.70833,6.81667,12.57500,97.0,1.37742,1.77500,0.00483,3.91667,7.071068e-01,0.707107,...,0.999991,6.633074,8.667341,13.736663,2.912170,-1.330261e-138,7.071068e-01,0.707107,0.004172,0.999991
4,2.83333,6.81000,12.50000,97.0,1.39783,1.77375,0.00433,3.91667,8.660254e-01,0.500000,...,0.999988,6.563531,8.978077,13.797720,2.828217,-1.416987e-138,8.660254e-01,0.500000,0.004888,0.999988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,3.59167,7.09333,12.63000,115.0,1.77667,1.71833,0.00225,22.65833,-9.659258e-01,0.258819,...,0.999984,9.016598,1.027475,10.389564,5.210117,3.380038e-73,-9.659258e-01,0.258819,-0.005734,0.999984
8756,3.52500,7.08583,12.61667,115.0,1.73167,1.72625,0.00100,21.89167,-8.660254e-01,0.500000,...,0.999987,9.014061,1.024332,10.389211,5.185003,3.049659e-73,-8.660254e-01,0.500000,-0.005017,0.999987
8757,3.40000,7.06083,12.59250,115.0,1.70500,1.73783,0.00200,21.26667,-7.071068e-01,0.707107,...,0.999991,9.010421,1.018835,10.390525,5.142429,2.401606e-73,-7.071068e-01,0.707107,-0.004301,0.999991
8758,3.41667,7.07417,12.58917,115.0,1.65333,1.72342,0.00208,21.45000,-5.000000e-01,0.866025,...,0.999994,9.005720,1.010790,10.393968,5.081170,1.397760e-73,-5.000000e-01,0.866025,-0.003584,0.999994
8759,3.32500,7.05750,12.57167,115.0,1.67500,1.70467,0.00233,20.85000,-2.588190e-01,0.965926,...,0.999996,9.000000,1.000000,10.400000,5.000000,0.000000e+00,-2.588190e-01,0.965926,-0.002867,0.999996

In [185]:
bb = divideDataFrame(df1, div_iloc_val=div_iloc_val, cnt=len(file_names[0][0]))

j 0
start :  0
end :  13
start :  12
end :  25
start :  24
end :  37
start :  36
end :  49
j 1
start :  0
end :  21
start :  20
end :  41
start :  40
end :  61
start :  60
end :  81
j 2
start :  0
end :  6
start :  5
end :  11
start :  10
end :  16
start :  15
end :  21
j 3
start :  0
end :  12
start :  11
end :  23
start :  22
end :  34
start :  33
end :  45
j 4
start :  0
end :  6
start :  5
end :  11
start :  10
end :  16
start :  15
end :  21
j 5
start :  0
end :  6
start :  5
end :  11
start :  10
end :  16
start :  15
end :  21
j 6
start :  0
end :  22
start :  21
end :  43
start :  42
end :  64
start :  63
end :  85
j 7
start :  0
end :  11
start :  10
end :  21
start :  20
end :  31
start :  30
end :  41
j 8
start :  0
end :  10
start :  9
end :  19
start :  18
end :  28
start :  27
end :  37

In [186]:
bb[0]

,Year cos_2,nh3n,no3n,ph,cod,ec,bod,ss,do,tn,tp,wtp,chlorophylla
0,0.999998,0.027351,1.540859,6.606529,3.083436,104.266883,0.987234,1.999837,12.544710,1.679795,0.011127,4.232021,6.094453
1,0.999996,0.027359,1.540836,6.605173,3.083251,104.289912,0.986934,2.001253,12.547121,1.679485,0.011120,4.225231,6.095131
2,0.999994,0.027368,1.540814,6.603823,3.083067,104.312991,0.986632,2.002666,12.549532,1.679177,0.011113,4.218448,6.095809
3,0.999991,0.027377,1.540793,6.602479,3.082881,104.336120,0.986329,2.004079,12.551941,1.678868,0.011106,4.211672,6.096487
4,0.999988,0.027386,1.540771,6.601141,3.082696,104.359299,0.986024,2.005490,12.554350,1.678561,0.011099,4.204903,6.097166
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,0.999984,0.047948,1.623237,7.902556,2.799835,130.043065,0.499664,1.296620,11.714918,1.857428,0.014018,5.556407,3.597954
8756,0.999987,0.047961,1.622931,7.901923,2.799876,130.032400,0.499747,1.297457,11.711224,1.857322,0.014014,5.567204,3.598462
8757,0.999991,0.047974,1.622623,7.901286,2.799917,130.021667,0.499831,1.298300,11.707506,1.857215,0.014009,5.578069,3.598972
8758,0.999994,0.047987,1.622312,7.900645,2.799958,130.010867,0.499915,1.299147,11.703765,1.857108,0.014005,5.589001,3.599485
8759,0.999996,0.048000,1.622000,7.900000,2.800000,130.000000,0.500000,1.300000,11.700000,1.857000,0.014000,5.600000,3.600000

In [166]:
aa[1].reset_index(inplace=True)
aa[1]

,do_value,ec_value_1,toc_value_1,총질소_값_1,총인_값_1,클로로필-a_값_1,탁도1_값_1,tmpr_value_2,ph_value_2,do_value_2
0,10.80000,116.00000,1.59917,NaN,NaN,6.42833,NaN,4.43333,7.83333,12.74167
1,10.80000,116.00000,1.57909,NaN,NaN,7.27833,NaN,4.19167,7.80000,12.66667
2,10.80000,116.00000,1.58455,NaN,NaN,6.77500,NaN,3.90000,7.80000,12.52500
3,10.80000,116.00000,1.55000,NaN,NaN,5.44833,NaN,3.64167,7.74167,12.48333
4,10.80000,115.96667,1.55083,NaN,NaN,NaN,NaN,3.44167,7.70000,12.46667
...,...,...,...,...,...,...,...,...,...,...
35059,12.63000,99.09167,1.46167,1.42958,0.00300,NaN,0.69000,3.99167,7.40000,12.16167
35060,12.61667,100.00000,1.45833,1.42100,0.00258,NaN,0.69750,3.46667,7.40000,12.32000
35061,12.59250,100.06667,1.46333,1.45700,0.00242,NaN,0.69167,3.12500,7.40000,12.39083
35062,12.58917,101.00000,1.46500,1.44692,0.00258,NaN,0.67583,2.83333,7.40000,12.45083
35063,12.57167,101.00000,1.46000,1.44883,0.00242,NaN,0.67583,2.63333,7.40000,12.48750

**insert Month, Day, Time**

In [136]:
df1 = pd.read_excel('data/1_2017.xlsx')
df1

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [137]:
df = make_timeseries_by_day(df1)
df

2017
row in

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-06-15 12:00:00,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [37]:
time_day = []
year = int(str(df1.iloc[0,0]).split('-')[0])
print(year)

2017

In [39]:
df1.shape[0]

1

In [43]:
ori_time = str(df1.iloc[0,0])+ "-06-15 12:00"
ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
df1.iloc[0,0] = ori_time
df1

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-06-15 12:00:00,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [51]:
df1[df1.columns[0]].value_counts().shape

(1,)

In [56]:
str(df1.iloc[0,0]).split('-')

['2017']

In [97]:
div_cnt = df1[df1.columns[0]].value_counts().sort_index().tolist()
len(div_cnt)

1

In [4]:
ori_time = str(df.iloc[0,0])+ "-06-15 12:00"
ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
df.iloc[0,0] = ori_time
df

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-06-15 12:00:00,10150602,1015060200,127.376528,37.672865,0.01268,57.046425,1.018611

In [5]:
df = make_timeseries(df)
df

,year,cat_id,cat_did,lo,la,sm_bssh_co,sm_fclty_ar,sm_feed_usgqty
0,2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8755,2017-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8756,2017-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8757,2017-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8758,2017-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8759,2017-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Insert multi days, times in one month***

In [133]:
df2 = pd.read_excel('data/chl.xlsx')
df2

,dt,tme,stn_name,swmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,chlorophylla_flag,po4p_flag,dtn_flag,dtp_flag,toc_flag,gesm_flag,mib_flag,rainfall_flag,miclr_flag,bluegac_flag
0,2016-01,1회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01,2회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01,3회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01,4회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01,5회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,2016-12,76회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,2016-12,77회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,2016-12,78회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,2016-12,79회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,2016-12,80회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
div_cnt = df2[df2.columns[0]].value_counts().sort_index().tolist()
div_cnt

[64, 64, 80, 64, 64, 80, 64, 64, 80, 64, 64, 80]

In [73]:
div_cnt = df1[df1.columns[0]].value_counts().sort_index()
div_cnt.shape[0]
div_cnt[0]

64

In [134]:
df3 = make_timeseries_by_day(df2)
df3

2016

,dt,tme,stn_name,swmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,chlorophylla_flag,po4p_flag,dtn_flag,dtp_flag,toc_flag,gesm_flag,mib_flag,rainfall_flag,miclr_flag,bluegac_flag
0,2016-01-1 00:00:00,1회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-1 11:00:00,2회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-1 23:00:00,3회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-2 10:00:00,4회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-2 22:00:00,5회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,2016-12-30 01:00:00,76회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
828,2016-12-30 10:00:00,77회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,2016-12-30 20:00:00,78회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,2016-12-31 05:00:00,79회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
831,2016-12-31 14:00:00,80회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df = make_timeseries(df)
df.to_excel('dd.xlsx')
df

/home/cjinw/work/tf-2/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,dt,tme,stn_name,swmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,chlorophylla_flag,po4p_flag,dtn_flag,dtp_flag,toc_flag,gesm_flag,mib_flag,rainfall_flag,miclr_flag,bluegac_flag
0,2016-01-01 00:00:00,1회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2016-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,2016-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,2016-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,2016-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.to_excel('min.xlsx', index=False)

In [5]:
div_cnt = df1[df1.columns[0]].value_counts().sort_index()
div_cnt

2016-01    64
2016-02    64
2016-03    80
2016-04    64
2016-05    64
2016-06    80
2016-07    64
2016-08    64
2016-09    80
2016-10    64
2016-11    64
2016-12    80
Name: dt, dtype: int64

In [28]:
30 /div_cnt[0]

0.46875

In [54]:
div_cnt.shape[0]

12

In [51]:
month = calendar.monthrange(2019,2)
month[1]

28

In [68]:
ttime=[]
time_day = []
time_time = []
for i in range(div_cnt.shape[0]):
#     print(i)
    month = calendar.monthrange(2019,i+1)
    for j in range(div_cnt[i]):
#         print(j)
#         print(month)
        
        time_val = datetime.timedelta(days = (month[1]/div_cnt[i]*j)+1)
#         time_day.append()
        ttime.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
#         ttime.append(str(df1.iloc[div_cnt[0],0])+'-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
#         print('day : ', str(time_val.days))
#         print('time : ', time_val.seconds//60//60)
#         print('final: ', str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
#         print(time_hour_min.days)
#         ttime.append(str(time_hour_min))

In [139]:
df3 = pd.read_excel('data/test111.xlsx')
df3

,oper_de,erbsq_nm,erbsq_code,cat_id,cat_did,lo,la,legaldong_code,dcwtrh_no,physic_flux,...,cod,ss,tn,tp,coc,cntc_trefct_nm,cntc_trefct_code,dcwtr_legaldong_code,dcwtr_river_nm,dcwtr_river_code
0,20120101,산성마을하수도,264100V01,20220502,2022050200,129.048750,35.277274,26410113,1,0.000000,...,16.600,8.5,1.70000,12.800,0.966204,NaN,NaN,2.641011e+09,대천천,2027650.0
1,20120101,공해마을하수도,264100V02,20220502,2022050200,129.048750,35.277274,26410113,1,0.000000,...,18.200,8.8,1.60000,15.900,0.858848,NaN,NaN,2.641011e+09,대천천,2027650.0
2,20120101,양산시분뇨처리시설,483300F01,20220502,2022050200,129.033914,35.280845,48330310,1,5.560769,...,2898.325,6275.0,123.28025,543.256,18649.181952,양산하수종말처리장,483300W01,4.833031e+09,NaN,NaN
3,20120101,양산하수종말처리장,483300W01,20220502,2022050200,129.033914,35.280845,48330310,1,0.000000,...,13.200,2.6,0.11300,5.614,3.935704,NaN,NaN,4.833031e+09,양산천,2007500.0
4,20120102,양산하수종말처리장,483300W01,20220502,2022050200,129.033914,35.280845,48330310,1,0.000000,...,13.000,2.4,0.10800,6.122,4.238450,NaN,NaN,4.833031e+09,양산천,2007500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10938,20181231,주중마을하수도,482500V19,20220502,2022050200,129.007917,35.260451,48250370,1,0.000000,...,0.000,0.0,0.00000,0.000,0.000000,NaN,NaN,4.825037e+09,주중천,2420030.0
10939,20181231,시례마을하수도,482500V20,20220502,2022050200,129.007917,35.260451,48250370,1,0.000000,...,0.000,0.0,0.00000,0.000,0.000000,NaN,NaN,4.825037e+09,예안천,2420020.0
10940,20181231,대동하수처리장,482500W07,20220502,2022050200,129.007917,35.260451,48250370,1,0.000000,...,6.400,0.2,3.59900,0.064,0.035440,NaN,NaN,4.825037e+09,예안천,2420020.0
10941,20181231,양산시분뇨처리시설,483300F01,20220502,2022050200,129.033914,35.280845,48330310,1,4.722845,...,0.000,0.0,0.00000,0.000,0.000000,양산하수종말처리장,483300W01,NaN,NaN,NaN
10942,20181231,양산하수종말처리장,483300W01,20220502,2022050200,129.033914,35.280845,48330310,1,4895.591910,...,10.502,4.4,16.50000,0.124,2.482521,NaN,NaN,4.833031e+09,양산천,2007500.0

In [141]:
time_day = []
year = int(str(df3.iloc[0,0])[0:4])
print(year)

div_cnt = df3[df3.columns[0]].value_counts().sort_index()
div_cnt

2012

20120101    4
20120102    1
20120103    1
20120104    5
20120105    1
           ..
20181227    5
20181228    5
20181229    5
20181230    5
20181231    5
Name: oper_de, Length: 2557, dtype: int64

In [143]:
len(div_cnt)

2557

In [ ]:
for i in range(len(div_cnt)):
    month = calendar.monthrange(year,i+1)
        for j in range(div_cnt[i]):
    #         print(j)
    #         print(month)
            time_val = datetime.timedelta(days = (month[1]/div_cnt[i]*j)+1)
#             print('time_val' , time_val)
    #         time_day.append()
#             print(str(time.strftime('%H', time.gmtime(time_val.seconds))))
#             time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:%M:%S', time.gmtime(time_val.seconds))))
            time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:00:00', time.gmtime(time_val.seconds))))
#             print('append')
            
#     df.iloc[:,0]= ftime
#     print(time_day)
#     print('end 1')
#     print(df.iloc[:,0])
    df.iloc[:,0] = df.iloc[:,0] + time_day