In [25]:
import pandas as pd
import numpy as np
import os

In [26]:
folder = 'data_test/한강/AWS/'

file_names = [['남이섬_2016.xlsx','남이섬_2017.xlsx','남이섬_2018.xlsx', '남이섬_2019.xlsx'],
             ]

#input_path = folder + file_names[0][0]

path = os.path.join(folder, file_names[0][0])
print(path)


#output_file_name = folder + '대성리_2016_2019.xlsx

data_test/한강/AWS/남이섬_2016.xlsx

In [27]:
df = pd.read_excel(path)

In [28]:
df.shape

(17568, 30)

In [29]:
date_col = df.columns[0]
#df[date_col] = pd.to_datetime(df[date_col])
#df = df[df[date_col].notna()]

#year = pd.DatetimeIndex(df[date_col]).year.astype(np.int64)

aws_dt

In [30]:
#df = pd.concat([time_series, df], axis=0)
df = df.drop_duplicates([date_col], keep="first")
df = df.sort_values([date_col], axis=0)

In [32]:
df.shape

(8784, 30)

In [35]:
folder = 'set_time_series/'
path =  folder + '남이섬_2016_기상.xlsx'
df.to_excel(path, index = False)

In [34]:
import datetime
print("마지막 돌린 날짜 : ")
print(datetime.datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

마지막 돌린 날짜 :
2021-01-19 13:09:58