In [1]:
import pandas as pd
import numpy as np
import os

In [45]:
folder = 'data_test/한강/퇴적물/'


file_names = [['대성리_2016.xlsx','대성리_2017.xlsx','대성리_2018.xlsx', '대성리_2019.xlsx'], 
             ]

input_file_name = folder + file_names[0][0]
output_file_name = folder + '대성리1_2016.xlsx'
output_file_name2 = folder + '대성리2_2016.xlsx'
df = pd.read_excel(input_file_name)
df.shape

data_test/한강/퇴적물/대성리_2016.xlsx

NameError: name 'concat' is not defined

In [3]:
df

,DT,tme,stn_name,dpmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,iem_surlyr_ec,iem_trp,iem_ptcs_sand,iem_surlyr_dpwt_flag,iem_surlyr_wtrtp_flag,iem_surlyr_ph_flag,iem_surlyr_doc_flag,iem_surlyr_ec_flag,iem_trp_flag,iem_ptcs_sand_flag
0,2016-04-15 12:00,상반기,대성리,1015R40,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-10-25 12:00,하반기,대성리,1015R40,37.6781,127.3821,NaN,NaN,NaN,NaN,...,122,NaN,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:


date_col = df.columns[0]
df[date_col] = pd.to_datetime(df[date_col])
df = df[df[date_col].notna()]

year = pd.DatetimeIndex(df[date_col]).year.astype(np.int64)

start = str(year[0]) + "-01-01 00:00"
end = str(year[0]) + "-12-31 23:00"

time_series = pd.date_range(start = start, end = end, freq='H')
time_series
time_series = pd.DataFrame(time_series)
time_series.columns = [date_col]
time_series

df = pd.concat([time_series, df], axis=0)
df = df.drop_duplicates([date_col], keep="last")
df = df.sort_values([date_col], axis=0)
df.to_excel(output_file_name, index = False)
df.shape

(8784, 41)

In [5]:
df

,DT,tme,stn_name,dpmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,iem_surlyr_ec,iem_trp,iem_ptcs_sand,iem_surlyr_dpwt_flag,iem_surlyr_wtrtp_flag,iem_surlyr_ph_flag,iem_surlyr_doc_flag,iem_surlyr_ec_flag,iem_trp_flag,iem_ptcs_sand_flag
0,2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2016-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,2016-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,2016-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,2016-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,2016-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
print(output_file_name)
df = pd.read_excel(output_file_name)
df2 = df

data_test/한강/퇴적물/대성리1_2016.xlsx

In [7]:
#df2 = df.interpolate(method='spline', order=2)

In [29]:
df2

,DT,tme,stn_name,dpmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,iem_surlyr_ec,iem_trp,iem_ptcs_sand,iem_surlyr_dpwt_flag,iem_surlyr_wtrtp_flag,iem_surlyr_ph_flag,iem_surlyr_doc_flag,iem_surlyr_ec_flag,iem_trp_flag,iem_ptcs_sand_flag
0,2016-01-01 00:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:59:59.999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 02:00:00.000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 03:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 03:59:59.999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2016-12-31 18:59:59.999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,2016-12-31 20:00:00.000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,2016-12-31 21:00:00.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,2016-12-31 21:59:59.999999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,2016-12-31 23:00:00.000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
print(output_file_name2)
df2.to_excel(output_file_name2, index = False)

data_test/한강/퇴적물/대성리2_2016.xlsx

In [31]:

interp = df2.interpolate(metod='spline', order=2, limit_direction='both')
#interp = df2.interpolate(method='pchip', order=2, limit_direction='both')

In [32]:
interp

,DT,tme,stn_name,dpmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,iem_surlyr_ec,iem_trp,iem_ptcs_sand,iem_surlyr_dpwt_flag,iem_surlyr_wtrtp_flag,iem_surlyr_ph_flag,iem_surlyr_doc_flag,iem_surlyr_ec_flag,iem_trp_flag,iem_ptcs_sand_flag
0,2016-01-01 00:00:00.000000,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 00:59:59.999999,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 02:00:00.000001,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 03:00:00.000000,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 03:59:59.999999,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2016-12-31 18:59:59.999999,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,122.0,NaN,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,2016-12-31 20:00:00.000001,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,122.0,NaN,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,2016-12-31 21:00:00.000000,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,122.0,NaN,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,2016-12-31 21:59:59.999999,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,122.0,NaN,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,2016-12-31 23:00:00.000001,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,122.0,NaN,73.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
output_file_name3 = folder + '대성리3_2016.xlsx'
interp.to_excel(output_file_name3, index = False)

In [13]:

------------------------

SyntaxError: invalid syntax (<ipython-input-13-8f81c231e55d>, line 1)

In [ ]:
start = df.iloc[0][0]
end = df.iloc[-1][0]

year = start.split('-')
start = year[0] + "-01-01 00:00"
end = year[0] + "-12-31 23:00"

In [ ]:
start = df.iloc[0][0]
end = df.iloc[-1][0]

year = start.split('-')
start = year[0] + "-01-01 00:00"
end = year[0] + "-12-31 23:00"


        ts_ms = pd.date_range(start = start, end = end, freq='H')
        ts_ms = pd.DataFrame(ts_ms)
        ts_ms.columns = [date_name]

        df[date_name] = pd.to_datetime(df[date_name])

        df = pd.concat([ts_ms, df], axis=0)
        df = df.drop_duplicates([date_name], keep="last")
        df = df.sort_values([date_name], axis=0)

In [ ]:
----------------------------------------

In [ ]:
def util_filename_parser(file_name):
    name, year = file_name.split('_')
    year = int(year.split('.')[0])
    return name, year


base_dir_path = 'data_test/한강/'

df[]

for dir_entry in os.listdir(base_dir_path):
    if os.path.isdir(os.path.join(base_dir_path, dir_entry)):
        current_dir_path = base_dir_path+dir_entry
        print('측정망 : ' + dir_entry)
        for file_entry in os.listdir(current_dir_path):
            if os.path.isfile(os.path.join(current_dir_path, file_entry)):
                name, year = util_filename_parser(file_entry)
                
                df[name] = year
                
#                print(name)
                
                #print(file_entry)
print(df)

In [ ]:
basepath = 'data_test/'
for entry in os.listdir(basepath):
    if os.path.isfile(os.path.join(basepath, entry)):
        print(entry)

In [ ]:
file_name = '의암호_2017.xlsx'

def util_filename_parser(file_name):
    name, year = file_name.split('_')
    year = int(year.split('.')[0])
    return name, year

name, year = util_filename_parser(file_name)

print(name)
print(year)
print(type(year))