# Divide by hour

In [1]:
import pandas as pd
import numpy as np
import calendar
import os
import datetime
import time

24회차 이상으로 회차가 있는 데이터 정리...

In [2]:
# 녹조 조류 모니터링, 오염원

def make_timeseries_by_day(df):
    time_day = []
    year = int(str(df.iloc[0,0]).split('-')[0])
    print(year)
    
    if df.shape[0] == 1 :
        print('row in')
        ori_time = str(df.iloc[0,0])+ "-06-15 12:00"
        ori_time = datetime.datetime.strptime(ori_time, '%Y-%m-%d %H:%M')
        df.iloc[0,0] = ori_time
        
        return df
        
    div_cnt = df[df.columns[0]].value_counts().sort_index().tolist()
            
    for i in range(len(div_cnt)):

        month = calendar.monthrange(year,i+1)
        for j in range(div_cnt[i]):

            time_val = datetime.timedelta(days = (month[1]/div_cnt[i]*j)+1)

            time_day.append('-'+str(time_val.days)+' ' + str(time.strftime('%H:00:00', time.gmtime(time_val.seconds))))

    df.iloc[:,0] = df.iloc[:,0] + time_day
    
    return df

In [3]:
file_name = 'data/han/조류/의암호_2016.xlsx'

df = pd.read_excel(file_name)

In [4]:
df = make_timeseries_by_day(df)

2016

In [5]:
df

,DT,tme,stn_name,swmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,chlorophylla_flag,po4p_flag,dtn_flag,dtp_flag,toc_flag,gesm_flag,mib_flag,rainfall_flag,miclr_flag,bluegac_flag
0,2016-02-1 00:00:00,1회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-1 11:00:00,2회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-02-1 23:00:00,3회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-02-2 10:00:00,4회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-02-2 22:00:00,5회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2016-02-29 13:00:00,60회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2016-02-30 01:00:00,61회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,2016-02-30 13:00:00,62회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2016-02-31 00:00:00,63회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2016-02-31 12:00:00,64회차,의암호,1011G50,37.8376,127.6759,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Divide DataFrame by list

웹에서 들어오는 df_full에 대해서 다시 나누는 작업용    
측정망별로  de_iloc_val의 column을 지정해줘야함(처음 만든 iloc_val 의 column 수를 넣어주면됨)

In [ ]:
# example
# 0:자동, 1:수질 , 2:총량, 3:유량, 4:수위
de_iloc_val = ['9', '15', '17', '1', '1']
de_iloc_val[0]

In [ ]:
def divideDataFrame(df_ori, de_iloc_val= 0):
    df = df_ori
#     print(de_iloc_val)
#     print(type(de_iloc_val))
    df.set_index(df.columns[0], inplace=True)
#     print(df)
    
    df_d = []
    for i in range(4) :
#         print((i*de_iloc_val))
#         print((i*de_iloc_val)+de_iloc_val)
#         print('aaaaaaa')
        df_tmp = df.iloc[:, (i*de_iloc_val):(i*de_iloc_val)+de_iloc_val]
#         df_tmp.reset_index(inplace=True)
        df_d.append(df_tmp)
        
    return df_d