In [21]:
import pandas as pd
import numpy as np
import datetime

In [57]:

input_file_name = '11.csv'
output_file_name = "22.csv"

df = pd.read_csv(input_file_name, encoding='CP949')

In [58]:
df

,지점,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,505,2018-01-01 00:00,-3.6,303.7,1.7,0.0,1004.6,1026.2,NaN,0,0
1,505,2018-01-01 01:00,-4.1,323.5,1.1,0.0,1004.4,1026.0,NaN,0,0
2,505,2018-01-01 02:00,-6.9,305.6,0.6,0.0,1004.4,1026.3,NaN,0,0
3,505,2018-01-01 03:00,-8.4,0.0,0.3,0.0,1004.8,1026.8,NaN,0,0
4,505,2018-01-01 04:00,-9.1,299.9,0.6,0.0,1004.9,1027.0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8726,505,2018-12-31 19:00,-4.3,286.4,1.4,0.0,1014.7,1036.8,NaN,0,0
8727,505,2018-12-31 20:00,-7.2,8.7,1.2,0.0,1014.4,1036.7,NaN,0,0
8728,505,2018-12-31 21:00,-8.6,256.9,0.9,0.0,1014.0,1036.5,NaN,0,0
8729,505,2018-12-31 22:00,-9.8,346.2,0.8,0.0,1013.8,1036.4,NaN,0,0
8730,505,2018-12-31 23:00,-11.0,0.0,0.3,0.0,1014.3,1037.0,NaN,0,0

In [65]:

date_name = '일시'
idx = df.columns.get_loc(date_name)
columns = list(df.columns)
columns[0], columns[idx] = columns[idx], columns[0]
df=df.reindex(columns=columns)

In [66]:
df

,일시,지점,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,2018-01-01 00:00,505,-3.6,303.7,1.7,0.0,1004.6,1026.2,NaN,0,0
1,2018-01-01 01:00,505,-4.1,323.5,1.1,0.0,1004.4,1026.0,NaN,0,0
2,2018-01-01 02:00,505,-6.9,305.6,0.6,0.0,1004.4,1026.3,NaN,0,0
3,2018-01-01 03:00,505,-8.4,0.0,0.3,0.0,1004.8,1026.8,NaN,0,0
4,2018-01-01 04:00,505,-9.1,299.9,0.6,0.0,1004.9,1027.0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8726,2018-12-31 19:00,505,-4.3,286.4,1.4,0.0,1014.7,1036.8,NaN,0,0
8727,2018-12-31 20:00,505,-7.2,8.7,1.2,0.0,1014.4,1036.7,NaN,0,0
8728,2018-12-31 21:00,505,-8.6,256.9,0.9,0.0,1014.0,1036.5,NaN,0,0
8729,2018-12-31 22:00,505,-9.8,346.2,0.8,0.0,1013.8,1036.4,NaN,0,0
8730,2018-12-31 23:00,505,-11.0,0.0,0.3,0.0,1014.3,1037.0,NaN,0,0

In [67]:

start = df.iloc[0][0]
end = df.iloc[-1][0]

year = start.split('-')
start = year[0] + "-01-01 00:00"
end = year[0] + "-12-31 23:00"


ts_ms = pd.date_range(start = start, end = end, freq='H')
ts_ms = pd.DataFrame(ts_ms)
ts_ms.columns = [date_name]

In [69]:

df[date_name] = pd.to_datetime(df[date_name])

df = pd.concat([ts_ms, df], axis=0)
df = df.drop_duplicates([date_name], keep="last")
df = df.sort_values([date_name], axis=0)

In [70]:
df

,일시,지점,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),일사(MJ/m^2),일조(hr)
0,2018-01-01 00:00:00,505.0,-3.6,303.7,1.7,0.0,1004.6,1026.2,NaN,0.0,0.0
1,2018-01-01 01:00:00,505.0,-4.1,323.5,1.1,0.0,1004.4,1026.0,NaN,0.0,0.0
2,2018-01-01 02:00:00,505.0,-6.9,305.6,0.6,0.0,1004.4,1026.3,NaN,0.0,0.0
3,2018-01-01 03:00:00,505.0,-8.4,0.0,0.3,0.0,1004.8,1026.8,NaN,0.0,0.0
4,2018-01-01 04:00:00,505.0,-9.1,299.9,0.6,0.0,1004.9,1027.0,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8726,2018-12-31 19:00:00,505.0,-4.3,286.4,1.4,0.0,1014.7,1036.8,NaN,0.0,0.0
8727,2018-12-31 20:00:00,505.0,-7.2,8.7,1.2,0.0,1014.4,1036.7,NaN,0.0,0.0
8728,2018-12-31 21:00:00,505.0,-8.6,256.9,0.9,0.0,1014.0,1036.5,NaN,0.0,0.0
8729,2018-12-31 22:00:00,505.0,-9.8,346.2,0.8,0.0,1013.8,1036.4,NaN,0.0,0.0
8730,2018-12-31 23:00:00,505.0,-11.0,0.0,0.3,0.0,1014.3,1037.0,NaN,0.0,0.0

In [ ]:
df.to_csv(output_file_name, index = False)