In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
folder = 'data_test/한강/퇴적물/'

file_names = [['대성리_2016.xlsx','대성리_2017.xlsx','대성리_2018.xlsx', '대성리_2019.xlsx'],
             ]


output_file_name = folder + '대성리_2016_2019.xlsx'


df_full = []

stride = len(file_names)

for loc in range(len(file_names)):
    df_loc = []
    print(len(file_names[loc]))
    for y in range(len(file_names[loc])):
        path = os.path.join(folder, file_names[loc][y])
        print(file_names[loc][y])
        df_loc.append(pd.read_excel(path))
    df_full.append(pd.concat(df_loc))
    #df.append(df_full[loc].iloc[:, 2:])

4
대성리_2016.xlsx
대성리_2017.xlsx
대성리_2018.xlsx
대성리_2019.xlsx

In [3]:
df_full[0].shape

(8, 41)

In [4]:
date_col = df_full[0].columns[0]
df_full[0][date_col] = pd.to_datetime(df_full[0][date_col])
df_full[0] = df_full[0][df_full[0][date_col].notna()]

year = pd.DatetimeIndex(df_full[0][date_col]).year.astype(np.int64)

In [5]:
start = str(year[0]) + "-01-01 00:00"
end = str(year[-1]) + "-12-31 23:00"

print(start)
print(end)

2016-01-01 00:00
2019-12-31 23:00

In [7]:
time_series = pd.date_range(start = start, end = end, freq='H')
time_series
time_series = pd.DataFrame(time_series)
time_series.columns = [date_col]
time_series

df_full[0] = pd.concat([time_series, df_full[0]], axis=0)
df_full[0] = df_full[0].drop_duplicates([date_col], keep="last")
df_full[0] = df_full[0].sort_values([date_col], axis=0)
print(df_full[0].shape)

(35064, 41)

In [8]:
#df_full[0]

,DT,tme,stn_name,dpmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,iem_surlyr_ec,iem_trp,iem_ptcs_sand,iem_surlyr_dpwt_flag,iem_surlyr_wtrtp_flag,iem_surlyr_ph_flag,iem_surlyr_doc_flag,iem_surlyr_ec_flag,iem_trp_flag,iem_ptcs_sand_flag
0,2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2019-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35060,2019-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35061,2019-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35062,2019-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35063,2019-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_full[0] = df_full[0].interpolate(metod='spline', order=2, limit_direction='both')

In [10]:
#df_full[0]

,DT,tme,stn_name,dpmn_code,la,lo,rch_id,rch_did,rch_sn,rch_div,...,iem_surlyr_ec,iem_trp,iem_ptcs_sand,iem_surlyr_dpwt_flag,iem_surlyr_wtrtp_flag,iem_surlyr_ph_flag,iem_surlyr_doc_flag,iem_surlyr_ec_flag,iem_trp_flag,iem_ptcs_sand_flag
0,2016-01-01 00:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01 01:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01 02:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01 03:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01 04:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,138.0,NaN,78.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2019-12-31 19:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,113.0,NaN,78.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35060,2019-12-31 20:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,113.0,NaN,78.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35061,2019-12-31 21:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,113.0,NaN,78.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35062,2019-12-31 22:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,113.0,NaN,78.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35063,2019-12-31 23:00:00,NaN,NaN,NaN,37.6781,127.3821,NaN,NaN,NaN,NaN,...,113.0,NaN,78.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_full[0].to_excel(output_file_name, index = False)

In [71]:
folder_out = 'set_time_series/'

output_file_name2 = folder + '대성리_2016_t.xlsx'

time_series = pd.date_range(start = start, end = end, freq='Y')

for i in range(time_series.size):
    index = df_full[0][df_full[0]['DT'].iloc[:].dt.year == time_series[i].year].index.tolist()
    df = df_full[0].iloc[index][:]
    
    path = folder_out + file_names[0][i]
    
    print(path, time_series[i].year, df.shape)
    
    df.to_excel(path, index = False)









#index = df_full[0][df_full[0]['DT'].year < 2017].index.tolist()

#reqd_Index = df[df['Sales']>=300].index.tolist()

set_time_series/대성리_2016.xlsx 2016 (8784, 41)
set_time_series/대성리_2017.xlsx 2017 (8760, 41)
set_time_series/대성리_2018.xlsx 2018 (8760, 41)
set_time_series/대성리_2019.xlsx 2019 (8760, 41)